/* ==========================================================================
   Site Styleguide
   ========================================================================== */
  

  //
  // 
  // Work in progress
  // 
  // 





.container{
  @include layout(10 (6em 2em) 100em);
}




  $styleguide-green: rgb(92, 173, 105);
	$styleguide-grey:  rgb(230,230,230);
	
  body.styleguide{
    padding-top: 2em;
    @extend %e-success;
    padding-left: $space;
    padding-right: $space;
  }

  // 
  // MAIN HEADER
  //



  .l-styleguide-header{
    background-color: #ededed;
    padding: $space-2;
    @include container;
  }


  // 
  // MAIN CONTAINER
  //

  .l-styleguide-container{
    padding: $space $space 0;
    @include breakpoint($bp-medium) {
      padding: $space-2 $space-2 0;
    }
    background-color: $white;
    @include container;
  }

  // 

  // 
  // STYLEGUIDE GLOBAL STYLES
  //
  .styleguide-title{
    margin-bottom: $space-half; 
  }

  .styleguide-title--sub{
    margin-bottom: $space-half;
  }



  // 
  // OBJECT GLOBALS
  //

  .styleguide-objects, .styleguide-base, .styleguide-utilites{
    @extend %e-mb-3;
    border-radius: $global-round;
    border: solid 3px $styleguide-grey;
    padding: $space;
    @include breakpoint($bp-medium){
      padding: $space-2;
    }

  }

  .styleguide-code{
  	border-radius: $global-round;
  	background-color: $styleguide-grey;
  	height:100px;
  	margin-top: $space-3;
  	margin-bottom: $space-3;
  	padding: $space;
    &:last-child{
      margin-bottom: 0;
    }
  }


  // 
  // OBJECT ALERTS
  //

	.styleguide-objects{
    &.alerts{
      div{
        margin-bottom: $space-half;
      }
    }
  }
  // 
  // OBJECT BLOCK LIST
  //

  // 
  // OBJECT BLOCKQUOTE
  //

  // 
  // OBJECT BREADCRUMBS
  //

  // 
  // OBJECT BUTTON GROUPS
  //

  // 
  // OBJECT BUTTONS
  //

  // 
  // OBJECT CODE
  //

  // 
  // OBJECT COLUMS
  //

  // 
  // OBJECT COLOUMS
  //

  // 
  // OBJECT FLAG
  //
  .styleguide-objects{
    &.flags{
      h1{
        margin-bottom: $space-third;
      } 
      p{
        margin-bottom: $space;
        &:last-child{
          margin-bottom: 0;
        }
      }  
    }
  }
  // 
  // OBJECT FIGURE
  //

  // 
  // OBJECT FLYOUT
  //

  // 
  // OBJECT FORMS
  //

  // 
  // OBJECT ICON FONTS
  //

  .styleguide-objects{
    &.icon-fonts{
      div{
      	.o-icon{
      		font-size: 3em;
          @extend %e-c-info;
      	}
    	}  
    }
  }

  // 
  // OBJECT ICON IMAGE TEXT
  //
  .styleguide-objects{
    &.text-image-icon{
      .o-image-text__icon{
        background-color: $c-dribble;                                     // bgc color
        height: $space-4;                                                 // height
        width: $space-4;                                                  // width
        background-size:50%;                                              // size of the svg
        background-position:center;                                       // center the image
        background-image: url('../../assets/icons/social/dribble.svg');   // path to image
      }

      @include add(icon-twitter) {
        background-color: $c-twitter;  
        background-image: url('../../assets/icons/social/twitter.svg');
      }
    }
  }
  // 
  // OBJECT IMAGES
  //

  // 
  // OBJECT ISLAND
  //

  // 
  // OBJECT LINK COMPLEX
  //

  // 
  // OBJECT LOADERS
  //

  // 
  // OBJECT MATRIX
  //

  .styleguide-objects{
    &.matrix{
      h2{
        margin: $space 0 0;
      }
    }
  }

  // 
  // OBJECT MEDIA
  //

  // 
  // OBJECT HAMBURGER
  //

  // 
  // OBJECT NAV
  //

  // 
  // OBJECT PAGINATION
  //

  // 
  // OBJECT PAGINATION
  //

  // 
  // OBJECT PROGRESS BARS
  //

  .styleguide-objects{
    &.progress-bars{
      > div{
        margin-bottom: $space-half;
      }
      h2{
        margin: $space 0 0;
      }
    }
  }

  // 
  // OBJECT RULES
  //

  // 
  // OBJECT SPRITE
  //

      //overright object sprite example
       @include object(o-sprite) {
        width: 62px;
         height: 62px;
         background-image: url(../../assets/icons/social/dribble.svg);
         background-color: grey;
        }

       //overright object spirte add positions
       @include add(red-square)    { background-position:  0     0  ; }
       @include add(blue-circle)   { background-position:-16px   0  ; }
       @include add(orange-sqaure) { background-position:-16px -16px; }
       @include add(green-circle)  { background-position:  0   -16px; }



  // 
  // OBJECT STAT
  //

  // 
  // OBJECT TABLES
  //

  // 
  // OBJECT THIS OR THIS
  //

  // 
  // OBJECT THUMBNAIL
  //



  // 
  // UTILITIES WIDTHS
  //

  .styleguide-utilites{
    &.widths{
      > div{
        padding: $space;
        @extend %e-info;
        margin-bottom: $space-half;
        p{
          padding: 4px 8px;
          border-radius: 2px;
          @extend %e-warning;
          margin-left: $space-half;
        }
        p:nth-child(2){
          @extend %e-success;
        }
      }
      h2{
        margin: $space 0 0;
      }
    }
  }

  // 
  // UTILITIES SPACES
  //

  .styleguide-utilites{
    &.spaces{
      > div{
        margin-bottom: $space;
        .margin{
          @include clearfix;
          @extend %e-info;
        }
        .padding{
          @include clearfix;
          @extend %e-error;
        }
        p{
          padding: $space;
          border: 1px dashed black;
          background-color: $bgc-1;
            span{
              padding: 4px 8px;
              border-radius: 2px;
              @extend %e-warning;
            }
        }
        &:nth-child(5n){
          margin-bottom: $space-4;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .styleguide-utilites.box{
    > div{
      margin-bottom: $space;
      .margin{
        @include clearfix;
        @extend %e-info;
      }

      .padding{
        @include clearfix;
        @extend %e-error;
      }

      p{
        padding: $space;
        border: 1px dashed black;
        background-color: $bgc-1;
        
        span{
          padding: 4px 8px;
          border-radius: 2px;
          @extend %e-warning;
        }

      }
    }
  }

  // 
  // UTILITIES DISPLAYS
  //

  .styleguide-utilites{
    &.displays{
      div{
        p{
          padding: 4px 8px;
          border-radius: 2px;
          @extend %e-warning;
          margin-bottom: $space;
        }
        &:last-child p{
          margin-bottom: 0;
        }
      }
    }
  }


  .styleguide-utilites{
    &.text-alignment{
      p span{
        padding: 4px 8px;
        border-radius: 2px;
        @extend %e-warning; 
      }
    }
  }


  // 
  // CONFIG COLOURS
  //
	.styleguide-base.config{
    h3{
      margin-top: $space;
      margin-bottom: $space;
    }

		div.styleguide-colors{
			width: 60px;
			height: 60px;
			margin-left: 4px;
			display: inline-block;
			border-radius: $global-round;
      
      // Custom
      &.red{background-color: $red; }
      &.green{ background-color: $green; }
      &.yellow{ background-color: $yellow; }
      &.orange{ background-color: $orange; }
      &.maroon{ background-color: $maroon; }
      &.pink{ background-color: $pink; }
      &.aqua{ background-color: $aqua; }
      &.blue{ background-color: $blue; }
      &.light-grey{ background-color: $light-grey; }
      &.black{ background-color: $black; }
      &.grey{ background-color: $grey; }
      &.white{ background-color: $white; }      

      // Background
      &.bgc-1{ background-color: $bgc-1; }
      &.bgc-2{ background-color: $bgc-2; }
      &.bgc-3{ background-color: $bgc-3; }      

      //  Buttons
      &.c-btn-1{ background-color: $c-btn-1; }
      &.c-btn-2{ background-color: $c-btn-2; }
      &.bgc-btn-1{ background-color: $bgc-btn-1; }
      &.bgc-btn-2{ background-color: $bgc-btn-2; }      

      // Link 
      &.c-link{ background-color: $c-link; }
      &.c-link-hover{ background-color: $c-link-hover; }
      &.c-link-active{ background-color: $c-link-active; }
      &.c-link-visited{ background-color: $c-link-visited; }      

      // headings
      &.c-heading-1{ background-color: $c-heading-1; }
      &.c-heading-2{ background-color: $c-heading-2; }
      &.c-heading-3{ background-color: $c-heading-3; }      

      // Form
      &.c-form-1{ background-color: $c-form-1; }
      &.c-form-2{ background-color: $c-form-2; }
      &.c-form-input{ background-color: $c-form-input; }
      &.c-form-hover{ background-color: $c-form-hover; }
      &.c-form-active{ background-color: $c-form-active; }
      &.c-form-focus{ background-color: $c-form-focus; }      

      // Form
      &.c-code{ background-color: $c-code; }
      &.bgc-code{ background-color: $bgc-code; }
        
      // code
      &.code-bgc{ background-color: $bgc-code; }
      &.code-c{ background-color: $c-code; }      

      // buttons
      &.c-btn-1{ background-color:$c-btn-1; }
      &.c-btn-2{ background-color:$c-btn-2; }
      &.bgc-btn-1{ background-color:$bgc-btn-1; }
      &.bgc-btn-2{ background-color:$bgc-btn-2; }      

      // social
      &.google{ background-color: $c-google; }
      &.facebook{ background-color: $c-facebook; }
      &.twitter{ background-color: $c-twitter; }
      &.linkedin{ background-color: $c-linkedin; }
      &.dribble{ background-color: $c-dribble; }
      &.instagram{ background-color: $c-instagram; }
      &.googleplus{ background-color: $c-googleplus; }
      &.behance{ background-color: $c-behance; }
      &.gimmebar{ background-color: $c-gimmebar; }
      &.github{ background-color: $c-github; }
      &.tumblr{ background-color: $c-tumblr; }
      &.youtube{ background-color: $c-youtube; }
      &.vine{ background-color: $c-vine; }
      &.kickstarter{ background-color: $c-kickstarter; }
      &.dropbox{ background-color: $c-dropbox; }
      &.rss{ background-color: $c-rss; }
      &.facebook{ background-color: $c-facebook; }
      &.codepen{ background-color: $c-codepen; }
      &.foursquare{ background-color: $c-foursquare; }
      &.soundcloud{ background-color: $c-soundcloud; }
      &.wordpress{ background-color: $c-wordpress; }
      &.tumblr{ background-color: $c-tumblr; }
      &.blogger{ background-color: $c-blogger; }
      &.squarespace{ background-color: $c-squarespace; }
      &.joomla{ background-color: $c-joomla; }
      &.drupal{ background-color: $c-drupal; }
      &.typepad{ background-color: $c-typepad; }
      &.expression-engine{ background-color: $c-expression-engine; }
      &.kirby{ background-color: $c-kirby; }
      &.moveabletype{ background-color: $c-moveabletype; }    
      &.disqus{ background-color: $c-disqus; }
      &.html{ background-color: $c-html; }
		}
	}


  // 
  // susy grids
  //


    // global grid colours
//   .size1of2 { 
//     @extend %e-success; 
//   }
//   .size1of5 { 
//     @extend %e-info; 
//   }
//   .size1of3 { 
//     @extend %e-danger; 
//   }
//   .size2of3 {     
//     @extend %e-error; 
//   }
//   .size3of5 { 
//     @extend %e-warning; 
//   }
//   .full.grid-element { 
//     @extend %e-success; 
//   }

//   .gallery {
//     @include clearfix;
//     clear: both;
//     @extend %e-info;
//     div {
//       @extend %e-error;
//     }
//   }


//   .container {
//     @include container;
//     background-color: $white;
//     p{
//       padding: $space 0;
//     }


//     > .size1of5 {

//       &:first-of-type { 
//         @include span(2 at 1); 
//       }

//       ~ .size1of5 { 
//         @include span(last 2); 
//       }

//     }
    
//     > .size3of5 {
//       @include span(6 at 3 nest);
      
//       > .size1of2 {

//         &:first-child { 
//           @include span(3 at 1 of nested(6 at 3)); 
//         }

//         + .size1of2 { 
//           @include span(last 3 of nested(6 at 3)); 
//         }

//       }

//       > .full {
//         @include full(nest);
//       }

//     }
    

//     .full {

//       @include nested(6 at 3) {
//         .size1of3 {
//           @include span(first 2);
//         }

//         .size2of3 {
//           @include span(4 omega nest);
//         }

//       }
//     }
    

//     .size2of3 {

//       .size1of2 {
//         @include nested(4 at 5) {
//           &:first-child { @include span(2 alpha); }
//           + .size1of2 { @include span(last 2); }
//         }
//       }

//       .full {
//         @include full(of nested(4 at 5));
//       }

//     }

//     .gallery {
//       div {
//         @include gallery(2);
//       }
//     }
//   }





//   .symmetrical{
//     @include layout(10 (4em 1em) 80em before left show overlay);
//   }


//     .container.symmetrical {
//     @include container;
//     background-color: $white;
//     p{
//       padding: $space 0;
//     }


//     > .size1of5 {

//       &:first-of-type { 
//         @include span(2 at 1); 
//       }

//       ~ .size1of5 { 
//         @include span(last 2); 
//       }

//     }
    
//     > .size3of5 {
//       @include span(6 at 3 nest);
      
//       > .size1of2 {

//         &:first-child { 
//           @include span(3 at 1 of nested(6 at 3)); 
//         }

//         + .size1of2 { 
//           @include span(last 3 of nested(6 at 3)); 
//         }

//       }

//       > .full {
//         @include full(nest);
//       }

//     }
    

//     .full {

//       @include nested(6 at 3) {
//         .size1of3 {
//           @include span(first 2);
//         }

//         .size2of3 {
//           @include span(4 omega nest);
//         }

//       }
//     }
    

//     .size2of3 {

//       .size1of2 {
//         @include nested(4 at 5) {
//           &:first-child { @include span(2 alpha); }
//           + .size1of2 { @include span(last 2); }
//         }
//       }

//       .full {
//         @include full(of nested(4 at 5));
//       }

//     }

//     .gallery {
//       div {
//         @include gallery(2);
//       }
//     }
//   }


// .asymmetrical{
//   @include layout(80% (.5 2 1.25 1 3.25 1.75 3 2 1 3.75) .5 isolate left show-columns show overlay);
// }



//     .container.asymmetrical {
//     @include container;
//     background-color: $white;
//     p{
//       padding: $space 0;
//     }


//     > .size1of5 {

//       &:first-of-type { 
//         @include span(2 at 1); 
//       }

//       ~ .size1of5 { 
//         @include span(last 2); 
//       }

//     }
    
//     > .size3of5 {
//       @include span(6 at 3 nest);
      
//       > .size1of2 {

//         &:first-child { 
//           @include span(3 at 1 of nested(6 at 3)); 
//         }

//         + .size1of2 { 
//           @include span(last 3 of nested(6 at 3)); 
//         }

//       }

//       > .full {
//         @include full(nest);
//       }

//     }
    

//     .full {

//       @include nested(6 at 3) {
//         .size1of3 {
//           @include span(first 2);
//         }

//         .size2of3 {
//           @include span(4 omega nest);
//         }

//       }
//     }
    

//     .size2of3 {

//       .size1of2 {
//         @include nested(4 at 5) {
//           &:first-child { @include span(2 alpha); }
//           + .size1of2 { @include span(last 2); }
//         }
//       }

//       .full {
//         @include full(of nested(4 at 5));
//       }

//     }

//     .gallery {
//       div {
//         @include gallery(2);
//       }
//     }
//   }

//   .static{
//   @include layout(10 (60px 20px) 80em static center show overlay);
// }

//     .container.static{
//     @include container;
//     background-color: $white;
//     p{
//       padding: $space 0;
//     }


//     > .size1of5 {

//       &:first-of-type { 
//         @include span(2 at 1); 
//       }

//       ~ .size1of5 { 
//         @include span(last 2); 
//       }

//     }
    
//     > .size3of5 {
//       @include span(6 at 3 nest);
      
//       > .size1of2 {

//         &:first-child { 
//           @include span(3 at 1 of nested(6 at 3)); 
//         }

//         + .size1of2 { 
//           @include span(last 3 of nested(6 at 3)); 
//         }

//       }

//       > .full {
//         @include full(nest);
//       }

//     }
    

//     .full {

//       @include nested(6 at 3) {
//         .size1of3 {
//           @include span(first 2);
//         }

//         .size2of3 {
//           @include span(4 omega nest);
//         }

//       }
//     }
    

//     .size2of3 {

//       .size1of2 {
//         @include nested(4 at 5) {
//           &:first-child { @include span(2 alpha); }
//           + .size1of2 { @include span(last 2); }
//         }
//       }

//       .full {
//         @include full(of nested(4 at 5));
//       }

//     }

//     .gallery {
//       div {
//         @include gallery(2);
//       }
//     }
//   }