h1(class='styleguide-title +u-fs-h5x') Fit Text
p 
  a(href='https://github.com/davatron5000/FitText.js') FitText.js
.styleguide-modules
  .m-fit-text
    h1(class='+u-s-mb-0') fit text
.styleguide-code
  p code here