h1(class='styleguide-title +u-fs-h4x') Fluid Box
.styleguide-modules.m-fluidbox
  a(class='fluidbox' href='../assets/images/placeholders/image-placeholder--01.jpg')
    img(src="../assets/images/placeholders/image-placeholder--01.jpg" alt='')
.styleguide-code
  p code here
.styleguide-modules.m-fluidbox
  a(class='fluidbox' href='http://i.imgur.com/uDPcnM3.jpg')   
    img(class='o-img --center' src="http://i.imgur.com/uDPcnM3.jpg'" alt='')
.styleguide-code
  p code here