$use-objects-alerts-contextual: true !default;

@if $use-objects-alerts-contextual == true{
/* ==========================================================================
   Ojects - Alert
   ========================================================================== */

  @include object(o-alert) {
    background-color: $bgc-btn-1;
    padding: $space;
    
    // modifier
    @include modifier(success)    { background-color: $c-alert-success; }
    @include modifier(info)       { background-color: $c-alert-info; }
    @include modifier(warning)    { background-color: $c-alert-warning; }
    @include modifier(danger)     { background-color: $c-alert-danger; }
    @include modifier(error)      { background-color: $c-alert-error; }
  } 

}//endif