$use-objects-block-list:  true !default;

@if $use-objects-block-list == true or $use-base-matrix == true{
/* ==========================================================================
   Ojects - Block List
   ========================================================================== */
   
  // object
  @include object(o-block-list) {
    @include unstyled;    
    > li, > dd, > dt{
      padding: $space;
      border:0 solid $light-grey;
    }
    > dt{
      padding-bottom: 0;
    }

      // element
      @include modifier(bordered) {
        border-top:1px solid $light-grey;
        border-left:1px solid $light-grey;
        > li, > dd{
          border-bottom-width:1px;
          border-right-width:1px;
        }
      }

      // element
      @include element(link) {
        display:block;
        padding: $space-1-half $space;
        margin: -$space-1-half;
        margin-left: -$space;
        margin-right: -$space;
      }

  }
  
}//endif