$use-objects-columns:	true !default;
@if $use-objects-columns == true{
/* ==========================================================================
   Object - Text Columns
   ========================================================================== */
	@include object(o-cols) {
    column-gap: $base-space;
		@include modifier(2) {
			column-count: 2;
		}
		@include modifier(3) {
			column-count: 3;
		}
		@include modifier(4) {
			column-count: 4; 
		}
		@include modifier(5) {
			column-count: 5; 
		}
	}
}//endif