$use-objects-emphasis:	true !default;
@if $use-objects-emphasis == true{
/* ==========================================================================
   Object - Emphasis
   ========================================================================== */
  // color
	// @include object(o-emp) {
	// 	//define your o-emp in sites folder
	// }
}//endif