$use-objects-icon-text: true !default;

@if $use-objects-icon-text == true{
/* ==========================================================================
   Object -  Icon Text
   ========================================================================== */
  
  @include object(o-image-text) {

    @include element(icon) {
      background-repeat: no-repeat;
      position: relative;
      top: -1px;
      display: inline-block;
      overflow: hidden;
      width: 1.1em;
      height: 1.1em;
      vertical-align: middle;
      line-height: 1;
      zoom: 1;
      background-size: 96%;
      margin-right: $space-quarter;
      
      // add width, height, margins ect + svg background-image - site styles - /site //
      //.o-image-text__icon{
        // add height:;
        // add width:;
        // background-image:;
        // background-image: url('/assets/icons/icons--social/dribble.svg');
      //}
      
      @include modifier(rev) {
      margin-left: $space-quarter;
      margin-right: 0;
      }
    }

  }


}// end