$use-objects-labels-pills:	true !default;

@if $use-objects-labels-pills == true{
/* ==========================================================================
   Object - Labels & Pills
   ========================================================================== */
   
	@include object(o-label){
		display:inline-block;
		text-align:center;
		background-color:$bgc-btn-1;
		padding-left:$space-half;
		padding-right:$space-half;
		border-radius:$label-round;
		line-height: normal;


		// Make pill default pill	 
		@include modifier(pill) {
			border-radius:100px;
		}
	}
 
}//endif