$use-objects-media: true !default;

@if $use-objects-media == true{
  /* ==========================================================================
   Object - Media
   ========================================================================== */
   
  // object
  @include object(o-media) {
    @include clearfix;
    display:block;

    // element
    @include element(img) {
      float:left;
      margin-right:$space;
      background-color: green;
      
      // element - modifier
      @include modifier(right) {
        float:right;
        margin-left:$space;
        background-color: blue;
        margin-right: 0;
      }
    }
    
    // element
    @include element(body){
      overflow:hidden;
    }

  }

}//endif