$use-objects-media: true !default;

@if $use-objects-media == true{
  /* ==========================================================================
   Object - Media
   ========================================================================== */
   
  // object
  
  @if $media-reponsive == true{

    @include breakpoint($bp-medium){

      // object
      @include object(o-media) {
        @include clearfix;
        display:block;
        
        // element
        @include element(img) {
          float:left;
          margin-right:$space;
          
          // element - modifier
          @include modifier(right) {
            float:right;
            margin-left:$space;
            margin-right: 0;
          }
        }
        
        // element
        @include element(body){
          overflow:hidden;
        }
      }

    }

  }

  @else {

    // object
    @include object(o-media) {
      @include clearfix;
      display:block;
      
      // element
      @include element(img) {
        float:left;
        margin-right:$space;
        
        // element - modifier
        @include modifier(right) {
          float:right;
          margin-left:$space;
          margin-right: 0;
        }
      }
      
      // element
      @include element(body){
        overflow:hidden;
      }
    }


  }
 
}//endif