$use-objects-matrix:	true !default;

@if $use-objects-matrix == true{
	/* ==========================================================================
   Object - Matrix
   ========================================================================== */
  
  // extend from o-block-list from o-block-list.scss 
  // extend --bordered by extending .\--bordered from o-block-list.scss 
  @include object(o-matrix) {
		@include clearfix;
    @include unstyled;
    border-left: 1px solid $light-grey;
		> li{
			float:left;
      padding: $space;
      border: 0 solid $light-grey;
      border-top-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      margin-bottom: -1px; // double border hack
      width: 100%;
		}

    @if $matrix-reponsive == true{
      @include breakpoint($bp-object){
    		// Apply these classes alongside the `.o-matrix` classes on
       	// lists to determine how wide their columns are.
    	  @include modifier(two) { 
    	  	> li{
    	      width: 50%;
    	       &.o-matrix__full {
    					width: 100%;
    				}
    	    }
    	  }
    	  @include modifier(three) { 
    	  	> li{
    	      width: 33.333%;
    	       &.o-matrix__full {
    					width: 100%;
    				}
    	    }
    	  }
    	  @include modifier(four) { 
    	  	> li{
    	      width: 25%; 
    	       &.o-matrix__full {
    					width: 100%;
    				}
    	    }
    	  }
    	  @include modifier(five) { 
    	  	> li{
    	      width: 20%;
    	      &.o-matrix__full {
    					width: 100%;
    				}
    	    }
    	  }

      }
    }


		// extend from o-block-list.scss
		@include element(link) {
	  	@extend .o-block-list__link;
	  }

	}

}//endif