$use-objects-split:	true !default;

@if $use-objects-split == true{
	/* ==========================================================================
   Object - Split
   ========================================================================== */
   
  @include object(o-split){
  	
  	@include unstyled;
  	@include clearfix;
    text-align:right;
    
  	@include element(title) {
    	text-align:left;
    	float:left;
    	clear:left;
  	}

  }

}//endif