$use-objects-cols-or-this:	true !default;

@if $use-objects-this-or-this == true{
/* ==========================================================================
   Ojects - This or This
   ========================================================================== */
   
	@include object(o-this-or-this) {
		display:table;
		width:100%;
		text-align:center;

		@include element(cols) {
			display:table-cell;
			vertical-align:middle;
		}

	}
	
}//endif