div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Block List Object
  .styleguide-objects.block-list
    ul.o-block-list
      li list
      li 
        a(href="/").o-block-list__link another
      li another
      li another
    h3.styleguide-title--sub dl Block Lists
    dl.o-block-list
      dt hell
      dd hell
      dt hell
      dd hell
      dt hell
      dd hell
    h3.styleguide-title--sub ul Block Lists bordered
    ul.o-block-list.--bordered
      li above
      li list
      li asdfas
      li asdfa
    h3.styleguide-title--sub dl Block Lists bordered
    dl.o-block-list.--bordered
      dt hell
      dd hell
      dt hell
      dd hell
      dt hell
      dd hell
    .styleguide-code
      p this will be code