div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Breadcrumb Object
  div.styleguide-objects.breadcrumb
    h3.styleguide-title--sub Breadcrumb
    ul(class='o-nav  o-breadcrumb')
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
    h3.styleguide-title--sub Line
    ul(class='o-nav  o-breadcrumb  --line')
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
    h3.styleguide-title--sub Path
    ul(class='o-nav  o-breadcrumb  --path')
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
    h3.styleguide-title--sub Data
    ul(class='o-nav  o-breadcrumb  --data')
      li(data-breadcrumb="→")
        a(class="" href='/') one
      li(data-breadcrumb="→")
        a(class="" href='/') one
      li(data-breadcrumb="→")
        a(class="" href='/') one
      li(data-breadcrumb="→")
        a(class="" href='/') one
    h3.styleguide-title--sub Arrow 
    ul(class='o-nav  o-breadcrumb  --arrow')
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
      li
        a(class="" href='/') one
    h3.styleguide-title--sub Arrow 
    ul(class='o-nav  o-breadcrumb  --arrow')
      a(class="" href='/') one
      a(class="" href='/') one
      a(class="" href='/') one
      a(class="" href='/') one
    .styleguide-code
      p code here