div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Buttons Object
  div.styleguide-base.buttons
    p
      a(class='o-btn  --small', href='/') Google

    p
      a(class='o-btn  --large', href='/') Google

    p
      a(class='o-btn  --huge', href='/') Google

    p
      a(class='o-btn  --full', href='/') Google

    p
      a(class='o-btn  --alpha', href='/') Google

    p
      a(class='o-btn  --beta', href='/') Google

    p
      a(class='o-btn  --gamma', href='/') Google

    p
      a(class='o-btn  --natural', href='/') Google

    p
      a(class='o-btn  --inactive', href='/') Google

    p
      a(class='o-btn  --round', href='/') Google

    p
      a(class='o-btn  +rounded', href='/') Google

    p
      a(class='o-btn  +positive', href='/') Google

    p
      a(class='o-btn  +negative', href='/') Google
