h1(class='styleguide-title +u-font-huge') Figure
.styleguide-objects.figure
  h3.styleguide-title--sub Figure Add
  figure.o-fig
    img(src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
  h3.styleguide-title--sub Figure with rounded image
  figure.o-fig
    img(class='+u-rounded' src= "http://placehold.it/200")
    figcaption.o-fig__capt Lorem ipsum dolor sit amet
  .styleguide-code
    p code here