h1(class='styleguide-title +u-font-huge') Flyout Object
h1 Flyout Default
.styleguide-objects.flyout
  .o-flyout.o-btn
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.styleguide-code
  p code here
h1 Flyout Alt
.styleguide-objects.flyout   
  div(class='o-btn  o-flyout  --alt')
    | Flyout Button
    .o-flyout__content
      ul(class='+u-unstyled  o-nav  --stacked')
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
        li 
          a.o-btn list item
.styleguide-code
  p code here