div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Flyout Object
  .styleguide-objects.flyout
    .o-flyout.o-btn
      | Flyout Button
      .o-flyout__content
        ul(class='+u-unstyled  o-nav  --stacked')
          li 
            a.o-btn list item
          li 
            a.o-btn list item
          li 
            a.o-btn list item
          li 
            a.o-btn list item
    div(class='o-btn  o-flyout  --alt')
      | Flyout Button
      .o-flyout__content
        ul(class='+u-unstyled  o-nav  --stacked')
          li 
            a.o-btn list item
          li 
            a.o-btn list item
          li 
            a.o-btn list item
          li 
            a.o-btn list item
    .styleguide-code
      p code here