div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Hamburger Object
  .styleguide-objects.hamburger
    button(type="button" id="burg" class="o-burger")
      i
    .styleguide-code
      p code here