div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Icon Text
  .styleguide-objects.text-image-icon
    p(class='o-image-text')
      i.o-image-text__icon(class='+u-circle')
      | Dribble
    p.o-image-text.--rev Twitter
      i(class='o-image-text__icon  +icon-twitter')