h1(class='styleguide-title +u-font-huge') Images Objects
div.styleguide-objects.images
  h3.styleguide-title--sub Standard
  img(src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Right
  img(class='o-img  --right' src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Left
  img(class='o-img  --left' src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Center
  img(class='o-img  --center' src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Circle
  img(class='o-img  --circle' src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Rounded
  img(class='o-img  +rounded' src='http://placehold.it/200')
div.styleguide-objects.images(class='+u-clearfix')
  h3.styleguide-title--sub Full Width
  div(style='width:300px')
    img(class='o-img  --full' src='http://placehold.it/200')  