div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Island Object
  div.styleguide-base.island
    .o-island
      p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
    .styleguide-code
      p code here