div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Pills and Labels Object
  div.styleguide-objects.label-pills
    p.o-label hello
    p(class='o-label  +u-success') hello
    p(class='o-label  +u-info') hello
    p(class='o-label  +u-danger') hello
    p(class='o-label  +u-warning') hello
    p(class='o-label  +u-error') hello
    p(class='o-label  +disabled') hello
    p(class='o-label  --pill  +disabled') hello
    p(class='o-label  --pill  +u-success') hello
    p(class='o-label  --pill  +u-info') hello
    p(class='o-label  --pill  +u-danger') hello
    p(class='o-label  --pill  +u-warning') hello
    p(class='o-label  --pill  +u-error') hello
    p(class='o-label  --pill  +disabled') hello
    .styleguide-code
      p code here