h1(class='styleguide-title +u-font-huge') Labels & Pills Objects
div.styleguide-objects.label-pills
  p.o-label hello
  p(class='o-label  +u-bgc-success') hello
  p(class='o-label  +u-bgc-info') hello
  p(class='o-label  +u-bgc-danger') hello
  p(class='o-label  +u-bgc-warning') hello
  p(class='o-label  +u-bgc-error') hello
  p(class='o-label  +u-disabled') hello
  p(class='o-label  --pill') hello
  p(class='o-label  --pill  +u-bgc-success') hello
  p(class='o-label  --pill  +u-bgc-info') hello
  p(class='o-label  --pill  +u-bgc-danger') hello
  p(class='o-label  --pill  +u-bgc-warning') hello
  p(class='o-label  --pill  +u-bgc-error') hello
  p(class='o-label  --pill  +u-disabled') hello
  .styleguide-code
    p code here