div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Loaders Object
  .styleguide-objects.loaders 
    .o-spinner
      | Loading...
    .styleguide-code
      p code here