div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Media Object
  .styleguide-objects.media
    h3.styleguide-title--sub media
    .o-media
      img(class='o-media__img' src='http://placehold.it/200' alt="")
      .media__body
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    h3.styleguide-title--sub media
    .o-media
      img(class='o-media__img --right' src='http://placehold.it/200' alt="")
      .media__body 
        h1 Heading
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .styleguide-code
      p code here