h1(class='styleguide-title +u-fs-h5x') Menu Object
h2.styleguide-title--sub Burger
.styleguide-objects.hamburger
  button(type="button" id="burg" class="o-burger")
    i
.styleguide-code
  p code here