h1(class='styleguide-title +u-font-huge') Split Object
.styleguide-objects.split
  h1 Split
  dl.o-split
    dt.o-split__title Burger and fries
    dd £5.99
    dt.o-split__title Fillet steak
    dd £19.99
    dt.o-split__title Ice cream
    dd £2.99
  .styleguide-code
    p this will be code
  ol.o-split
    li.first
      b.o-split__title 1st place
      | Bob
    li.second
      b.o-split__title 2nd place
      | Lilly
    li.third
      b.o-split__title 3rd place
      | Ted
  .styleguide-code
    p code here