h1(class='styleguide-title +u-font-huge') Sprite Object
div.styleguide-objects.sprite
  h1 Sprite
  div
    i(class='o-sprite') default
    p default
  div(class='o-sprite  +red-square')
  div(class='o-sprite  +blue-circle')
  div(class='o-sprite  +orange-sqaure')
  div(class='o-sprite  +green-circle')
  div(class='o-sprite  +green-circle')
  ul(class='+u-unstyled')
    li 
      a(href='/') 
        i(class='o-sprite  +red-square') Foo bar
    li 
      a(href='/')
        i(class='o-sprite  +blue-circle') Foo bar
    li 
      a(href='#' class='o-sprite  +orange-sqaure') Foo bar or 
      a(href='#' class='o-sprite  +green-circle') Bar baz
    li
      a(href='#')
        i(class='o-sprite   +red-square')
        | Foo bar
    li
      a(href='#')
        i(class='o-sprite   +blue-circle')
        | Foo bar
    li
      a(class='o-sprite   +orange-sqaure' href='#') Foo bar
      | or
      a(class='o-sprite   +green-circle' href='#') Bar baz
  .styleguide-code
    p code here