h1(class='styleguide-title +u-font-huge') Tabs Object
div.styleguide-base.tabs
  ul.o-tabs(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='http://www.unvisted.io') Tab 1
    li
      a.o-btn(class='+active' href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
  ul.o-tabs.--right(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(class='+active'  href='https://twitter.com') Tab 1
    li
      a.o-btn(href='http://www.unvisted.io') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
  ul.o-tabs.--centered(style='border-bottom:2px solid #f7f7f7')
    li
      a.o-btn(href='https://twitter.com') Tab 1
    li
      a.o-btn(class='+active' href='https://twitter.com') Tab 2
    li
      a.o-btn(href='http://www.unvisted.io') Tab 3
  .styleguide-code
    p code here