h1(class='styleguide-title +u-font-huge') This or This Object
.styleguide-objects.this-that
  h1.o-this-or-this
    a(class='o-this-or-this__cols  +u-two-fifths' href='#')
      | Free
    span(class='o-this-or-this__cols  +u-one-fifth')
      | or
    a(class='o-this-or-this__cols  +u-two-fifths' href='#')
      | Pro
.styleguide-code
  p this will be code
.styleguide-objects.this-that
  .o-this-or-this
    p(class='o-this-or-this__cols  +u-two-fifths')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    span(class='o-this-or-this__cols  +u-one-fifth')
      | or
    p(class='o-this-or-this__cols  +u-two-fifths')
      a(href='#') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
.styleguide-code
  p this will be code