h1(class='styleguide-title +u-font-huge') Thumbnail Object
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item" src= "http://placehold.it/200")
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-rounded" src= "http://placehold.it/200")
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-round" src= "http://placehold.it/200")