h1(class='styleguide-title +u-fs-h5x') Thumbnail Object
h2.styleguide-title--sub Default
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item" src= "http://placehold.it/200")
.styleguide-code
  p code here
h2.styleguide-title--sub Thumbnail Rounded
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-r-rounded" src= "http://placehold.it/200")
.styleguide-code
  p code here
h2.styleguide-title--sub Thumbnail Circle
.styleguide-objects.thumbnail
  .o-thumb
    img(class="o-thumb__item  +u-r-circle" src= "http://placehold.it/200")
.styleguide-code
  p code here