div.l-styleguide-container.container
  h1(class='styleguide-title +u-font-large') Thumbnail Object
  .styleguide-objects.thumbnail
    h3.styleguide-title--sub Standard
    .o-thumb
      img(class="o-thumb__item" src= "http://placehold.it/200")
    h3.styleguide-title--sub Thumbnail with rounded
    .o-thumb
      img(class="o-thumb__item  +u-rounded" src= "http://placehold.it/200")
    .styleguide-code
      p code here