h1(class='styleguide-title +u-fs-h4x') Spaces Config

h2.styleguide-title--sub Spaces
div.styleguide-config.spaces
  p
    code$space: em(16);
  p
    code $space-sixth: $space / 6;
  p
    code $space-fifth: $space / 5;
  p
    code $space-quarter: $space / 4;
  p
    code $space-third: $space / 3;
  p
    code $space-half: $space / 2;

  p
    code $space-1-half: $space * 1.5;
  p
    code $space-2: $space * 2;
  p
    code $space-3: $space * 3;
  p
    code $space-4: $space * 4;
  p
    code $space-5: $space * 5;
  p
    code $space-6: $space * 6;