.page {
  height: 600px;
}

.page__header {
  @include span(full);
  background: rgba(255, 0, 0, 0.4);
  margin-bottom: 20px;
}

.page__sidebar {
  @include span(full);
  background: rgba(0, 255, 0, 0.4);
  margin-bottom: 20px;
  .breakpoint-desktop & {
    @include span(3 of 12);
  }
}

.page__content {
  @include span(full);
  background: rgba(0, 0, 255, 0.4);
  .breakpoint-tablet & {
    @include span(break isolate 6 of 8 at 2);
  }
  .breakpoint-desktop & {
    @include span(last 9 of 12);
  }
}
