$use-utilities-extends: true !default;

@if $use-utilities-extends == true{
/* ==========================================================================
   Utilities - Silent Extends
   
   @include extend makes class into extend: @extend %e-three-quarters;
   
   ========================================================================== */

  // display
  %e-block                { display: block; }
  %e-inline               { display: block; }
  %e-inline-block         { display: inline-block; }
  %e-table                { display: table; }

  // alert colors
  %e-success              { background-color: $c-alert-success; }
  %e-info                 { background-color: $c-alert-info; }
  %e-warning              { background-color: $c-alert-warning; }
  %e-danger               { background-color: $c-alert-danger; }
  %e-error                { background-color: $c-alert-error; }

  %e-c-success            { color: $c-alert-success; }
  %e-c-info               { color: $c-alert-info; }
  %e-c-warning            { color: $c-alert-warning; }
  %e-c-danger             { color: $c-alert-danger; }
  %e-c-error              { color: $c-alert-error; }

  // headings
  %e-h1                   { font-size: $f-h1; }
  %e-h2                   { font-size: $f-h2; }
  %e-h3                   { font-size: $f-h3; }
  %e-h4                   { font-size: $f-h4; }
  %e-h5                   { font-size: $f-h5; }
  %e-h6                   { font-size: $f-h6; }

  // large type
  %e-font-massive         { font-size: $f-massive; }
  %e-font-huge            { font-size: $f-huge; }
  %e-font-large           { font-size: $f-large; }

  // small type
  %e-font-micro           { font-size: $f-micro; }
  %e-font-tiny            { font-size: $f-tiny; }
  %e-font-small           { font-size: $f-small; }

  // type
  %e-font-base            { font-size: $f-base; }  
  %e-font-lead            { font-size: $f-lead; }
  %e-font-half            { font-size: $f-half; }

  // font weights
  %e-font-200             { font-weight: 200; }
  %e-font-300             { font-weight: 300; }
  %e-font-400             { font-weight: 400; }
  %e-font-500             { font-weight: 500; }
  %e-font-600             { font-weight: 600; }
  %e-font-700             { font-weight: 700; }
  %e-font-800             { font-weight: 800; }
  %e-font-900             { font-weight: 900; }

  // font styles
  %e-font-italic          { font-style: italic; }
  %e-font-bold            { font-style: bold; }

  // link underline
  %e-underline-link       { text-decoration: underline; } 

  // text transforms
  %e-text-lowercase       { text-transform: lowercase; } 
  %e-text-uppercase       { text-transform: uppercase; } 
  %e-text-capitalize      { text-transform: capitalize; } 

  // text align
  %e-text-left            { text-align: left; }
  %e-text-right           { text-align: right; }
  %e-text-center          { text-align: center; }
  %e-text-justify         { text-align: justify; }

  // nowrap
  %e-text-nowrap          { white-space: nowrap; }

  // floats
  %e-float-left           { float: left; }
  %e-float-right          { float: right; }
  %e-float-none           { float: none; }

  //spaces
  %e-mt-sixth             { margin-top: $space-sixth; }
  %e-mr-sixth             { margin-right: $space-sixth; }
  %e-mb-sixth             { margin-bottom: $space-sixth; }
  %e-ml-sixth             { margin-left: $space-sixth; }
  %e-pt-sixth             { padding-top: $space-sixth; }
  %e-pr-sixth             { padding-right: $space-sixth; }
  %e-pb-sixth             { padding-bottom: $space-sixth; }
  %e-pl-sixth             { padding-left: $space-sixth; }
  
  %e-mt-fifth             { margin-top: $space-fifth; }
  %e-mr-fifth             { margin-right: $space-fifth; }
  %e-mb-fifth             { margin-bottom: $space-fifth; }
  %e-ml-fifth             { margin-left: $space-fifth; }
  %e-pt-fifth             { padding-top: $space-fifth; }
  %e-pr-fifth             { padding-right: $space-fifth; }
  %e-pb-fifth             { padding-bottom: $space-fifth; }
  %e-pl-fifth             { padding-left: $space-fifth; }
  
  %e-mt-quarter           { margin-top: $space-quarter; }
  %e-mr-quarter           { margin-right: $space-quarter; }
  %e-mb-quarter           { margin-bottom: $space-quarter; }
  %e-ml-quarter           { margin-left: $space-quarter; }
  %e-pt-quarter           { padding-top: $space-quarter; }
  %e-pr-quarter           { padding-right: $space-quarter; }
  %e-pb-quarter           { padding-bottom: $space-quarter; }
  %e-pl-quarter           { padding-left: $space-quarter; }
  
  %e-mt-third             { margin-top: $space-third; }
  %e-mr-third             { margin-right: $space-third; }
  %e-mb-third             { margin-bottom: $space-third; }
  %e-ml-third             { margin-left: $space-third; }
  %e-pt-third             { padding-top: $space-third; }
  %e-pr-third             { padding-right: $space-third; }
  %e-pb-third             { padding-bottom: $space-third; }
  %e-pl-third             { padding-left: $space-third; }
  
  %e-mt-half              { margin-top: $space-half; }
  %e-mr-half              { margin-right: $space-half; }
  %e-mb-half              { margin-bottom: $space-half; }
  %e-ml-half              { margin-left: $space-half; }
  %e-pt-half              { padding-top: $space-half; }
  %e-pr-half              { padding-right: $space-half; }
  %e-pb-half              { padding-bottom: $space-half; }
  %e-pl-half              { padding-left: $space-half; }
  
  %e-mt                   { margin-top: $space; }
  %e-mr                   { margin-right: $space; }
  %e-mb                   { margin-bottom: $space; }
  %e-ml                   { margin-left: $space; }
  %e-pt                   { padding-top: $space; }
  %e-pr                   { padding-right: $space; }
  %e-pb                   { padding-bottom: $space; }
  %e-pl                   { padding-left: $space; }
  
  %e-mt-1-half            { margin-top: $space-1-half; }
  %e-mr-1-half            { margin-right: $space-1-half; }
  %e-mb-1-half            { margin-bottom: $space-1-half; }
  %e-ml-1-half            { margin-left: $space-1-half; }
  %e-pt-1-half            { padding-top: $space-1-half; }
  %e-pr-1-half            { padding-right: $space-1-half; }
  %e-pb-1-half            { padding-bottom: $space-1-half; }
  %e-pl-1-half            { padding-left: $space-1-half; }
  
  %e-mt-2                 { margin-top: $space-2; }
  %e-mr-2                 { margin-right: $space-2; }
  %e-mb-2                 { margin-bottom: $space-2; }
  %e-ml-2                 { margin-left: $space-2; }
  %e-pt-2                 { padding-top: $space-2; }
  %e-pr-2                 { padding-right: $space-2;   }
  %e-pb-2                 { padding-bottom: $space-2; }
  %e-pl-2                 { padding-left: $space-2; }
  
  %e-mt-3                 { margin-top: $space-3; }
  %e-mr-3                 { margin-right: $space-3;  }
  %e-mb-3                 { margin-bottom: $space-3; }
  %e-ml-3                 { margin-left: $space-3; }
  %e-pt-3                 { padding-top: $space-3; }
  %e-pr-3                 { padding-right: $space-3; }
  %e-pb-3                 { padding-bottom: $space-3; }
  %e-pl-3                 { padding-left: $space-3; }
  
  %e-mt-4                 { margin-top: $space-4; }
  %e-mr-4                 { margin-right: $space-4; }
  %e-mb-4                 { margin-bottom: $space-4; }
  %e-ml-4                 { margin-left: $space-4; }
  %e-pt-4                 { padding-top: $space-4; }
  %e-pr-4                 { padding-right: $space-4; }
  %e-pb-4                 { padding-bottom: $space-4; }
  %e-pl-4                 { padding-left: $space-4; }
  
  %e-mt-5                 { margin-top: $space-5; }
  %e-mr-5                 { margin-right: $space-5; }
  %e-mb-5                 { margin-bottom: $space-5; }
  %e-ml-5                 { margin-left: $space-5; }
  %e-pt-5                 { padding-top: $space-5; }
  %e-pr-5                 { padding-right: $space-5; }
  %e-pb-5                 { padding-bottom: $space-5; }
  %e-pl-5                 { padding-left: $space-5; }
  
  %e-mt-6                 { margin-top: $space-6; }
  %e-mr-6                 { margin-right: $space-6; }
  %e-mb-6                 { margin-bottom: $space-6; }
  %e-ml-6                 { margin-left: $space-6; }
  %e-pt-6                 { padding-top: $space-6; }
  %e-pr-6                 { padding-right: $space-6; }
  %e-pb-6                 { padding-bottom: $space-6; }
  %e-pl-6                 { padding-left: $space-6; }


  // widths
  %e-one-whole            { width: 100%; }
  %e-one-half             { width: 50%; }

  %e-one-third            { width: 33.333%; }
  %e-two-thirds           { width: 66.666%; }

  %e-one-quarter          { width: 25%; }
  %e-two-quarters         { @extend %e-one-half; }
  %e-three-quarters       { width: 75%; }

  %e-one-fifth            { width: 20%; }
  %e-two-fifths           { width: 40%; }
  %e-three-fifths         { width: 60%; }
  %e-four-fifths          { width: 80%; }

  %e-one-sixth            { width: 16.666%; }
  %e-two-sixths           { @extend %e-one-third; }
  %e-three-sixths         { @extend %e-one-half; }
  %e-four-sixths          { @extend %e-two-thirds; }
  %e-five-sixths          { width: 83.333%; }

  %e-one-eighth           { width: 12.5%; }
  %e-two-eighths          { @extend %e-one-quarter; }
  %e-three-eighths        { width: 37.5%; }
  %e-four-eighths         { @extend %e-one-half; }
  %e-five-eighths         { width: 62.5%; }
  %e-six-eighths          { @extend %e-three-quarters; }
  %e-seven-eighths        { width: 87.5%; }

  %e-one-tenth            { width: 10%; }
  %e-two-tenths           { @extend %e-one-fifth; }
  %e-three-tenths         { width: 30%; }
  %e-four-tenths          { @extend %e-two-fifths; }
  %e-five-tenths          { @extend %e-one-half; }
  %e-six-tenths           { @extend %e-three-fifths; }
  %e-seven-tenths         { width: 70%; }
  %e-eight-tenths         { @extend %e-four-fifths; }
  %e-nine-tenths          { width: 90%; }
  
  %e-one-twelfth          { width: 8.333%; } 
  %e-two-twelfths         { @extend %e-one-sixth; }
  %e-three-twelfths       { @extend %e-one-quarter; }
  %e-four-twelfths        { @extend %e-one-third; }
  %e-five-twelfths        { width: 41.666% } 
  %e-six-twelfths         { @extend %e-one-half; }
  %e-seven-twelfths       { width: 58.333%; }
  %e-eight-twelfths       { @extend %e-two-thirds; }
  %e-nine-twelfths        { @extend %e-three-quarters; } 
  %e-ten-twelfths         { @extend %e-five-sixths; }
  %e-eleven-twelfths      { width: 91.666%; }

  // width fractions
  %e-1-1           { width: 100%; }

  %e-1-2           { width: 50%; }
  %e-2-2           { @extend %e-1-1; } 

  %e-1-3           { width: 33.333%; } 
  %e-2-3           { width: 66.666%; }   
  %e-3-3           { @extend %e-1-1; }

  %e-1-4           { width: 25%; }
  %e-2-4           { @extend %e-1-1; }
  %e-3-4           { width: 75%; }
  %e-4-4           { @extend %e-1-1; }

  %e-1-5           { width: 20%; }
  %e-2-5           { width: 40%; } 
  %e-3-5           { width: 60%; }
  %e-4-5           { width: 80%; }
  %e-5-5           { @extend %e-1-1; }

  %e-1-6           { width: 16.666%; }
  %e-2-6           { @extend %e-1-3; } 
  %e-3-6           { @extend %e-1-2; }
  %e-4-6           { @extend %e-2-3; }
  %e-5-6           { width: 83.333%; }
  %e-6-6           { @extend %e-1-1; }

  %e-1-8           { width: 12.5%; }
  %e-2-8           { @extend %e-1-4; }
  %e-3-8           { width: 37.5%; }
  %e-4-8           { @extend %e-1-2; }
  %e-5-8           { width: 62.5%; }
  %e-6-8           { @extend %e-3-4; }
  %e-7-8           { width: 87.5%; }
  %e-8-8           { @extend %e-1-1; }

  %e-1-10          { width: 10%; }
  %e-2-10          { @extend %e-1-5; }
  %e-3-10          { width: 30%; }
  %e-4-10          { @extend %e-2-5; }
  %e-5-10          { @extend %e-1-2; }
  %e-6-10          { @extend %e-3-5; }
  %e-7-10          { width: 70%; }
  %e-8-10          { @extend %e-4-5; }
  %e-9-10          { width: 90%; }  
  %e-10-10         { @extend %e-1-1; } 
   
  %e-1-12          { width: 8.333%; } 
  %e-2-12          { @extend %e-1-6; }
  %e-3-12          { @extend %e-1-4; }
  %e-4-12          { @extend %e-1-3; }
  %e-5-12          { width: 41.666% } 
  %e-6-12          { @extend %e-1-2; }
  %e-7-12          { width: 58.333%; }
  %e-8-12          { @extend %e-2-3; }
  %e-9-12          { @extend %e-3-4; } 
  %e-10-12         { @extend %e-5-6; }
  %e-11-12         { width: 91.666%; }
  %e-12-12         { @extend %e-1-1; }

  // mixins as extends
  %e-hidden               { @include hidden; }
  %e-clearfix             { @include clearfix; }
  %e-visually-hidden      { @include visually-hidden; }
  %e-sr-only              { @include sr-only; }
  %e-no-style             { @include unstyled; }
  %e-invisible            { @include invisible; }
  %e-image-replace        { @include image-replace; }
  %e-center-content       { @include center-content; }
  %e-invisible            { @include invisible; } 

  // helpers
  %e-informative             { cursor:help; }
  %e-disabled
  // , 
  // .btn[disabled],
  // fieldset[disabled] .btn
    {
    cursor: not-allowed;
    opacity: 0.5;
    filter:alpha(opacity = 50);
    box-shadow: none;
  }

  /* Active
   ========================================================================== */
  // .is-active
  // , %is-active,
  // .btn[active],
  // fieldset[active] .btn{
  //  cursor: default;
  //  pointer-events: none;
  // }
  
  %e-active{
    background: shade($bgc-btn-1,15%);
    cursor: default;
    pointer-events: none;
  }

}//endif