$use-utilities-floats:  true !default;
   
@if $use-utilities-floats == true{
/* ==========================================================================
   Utilities - Float
   ========================================================================== */
   
  @include add(u-float-left)      { float: left; }
  @include add(u-float-right)     { float: right; }
  @include add(u-float-inherit)   { float: inherit; }

  @include add(u-f-left)      { float: left; }
  @include add(u-f-right)      { float: right; }
  @include add(u-f-inherit)      { float: inherit; }

}// end if