$use-utilities-font-styles:  true !default;
   
@if $use-utilities-font-styles == true{
/* ==========================================================================
   Utilities Font Styles
   ========================================================================== */

  // font styles
  @include add(u-font-normal)            { font-style: normal;}
  @include add(u-font-italic)            { font-style: italic;}
  @include add(u-font-oblique)           { font-style: oblique;}

  // // font styles
  // @include add(u-fs-nor)       { font-style: normal;}
  // @include add(u-fs-ita)       { font-style: italic;}
  // @include add(u-fs-obl)       { font-style: oblique;}

}//end if 