$use-utilities-font-sizes:  true !default;
   
@if $use-utilities-font-sizes == true{
/* ==========================================================================
   Utilities Fonts Sizes
   ========================================================================== */

  // huge heading sizes
  @include add(u-font-massive)           { font-size: $f-massive;}
  @include add(u-font-huge)              { font-size: $f-huge;}
  @include add(u-font-large)             { font-size: $f-large;}
  @include add(u-h1x)                    { font-size: $f-h1x;}
  @include add(u-h2x)                    { font-size: $f-h2x;}
  @include add(u-h3x)                    { font-size: $f-h3x;}
  @include add(u-h4x)                    { font-size: $f-h4x;}
  @include add(u-h5x)                    { font-size: $f-h5x;}
  @include add(u-h6x)                    { font-size: $f-h6x;}

  // // huge heading sizes
  // @include add(u-fs-mas)       { font-size: $f-massive;} delete
  // @include add(u-fs-hug)       { font-size: $f-huge;} delete
  // @include add(u-fs-lar)       { font-size: $f-large;} delete
  // @include add(u-fs-h1x)       { font-size: $f-h1x;}
  // @include add(u-fs-h2x)       { font-size: $f-h2x;}
  // @include add(u-fs-h3x)       { font-size: $f-h3x;}
  // @include add(u-fs-h4x)       { font-size: $f-h4x;}
  // @include add(u-fs-h5x)       { font-size: $f-h5x;}
  // @include add(u-fs-h6x)       { font-size: $f-h6x;}  
  
  // h1 - h6
  @include add(u-h1)                     { font-size: $f-h1;}
  @include add(u-h2)                     { font-size: $f-h2;}
  @include add(u-h3)                     { font-size: $f-h3;}
  @include add(u-h4)                     { font-size: $f-h4;}
  @include add(u-h5)                     { font-size: $f-h5;}
  @include add(u-h6)                     { font-size: $f-h6;}

  // // h1 - h6
  // @include add(u-fs-h1)        { font-size: $f-h1;}
  // @include add(u-fs-h2)        { font-size: $f-h2;}
  // @include add(u-fs-h3)        { font-size: $f-h3;}
  // @include add(u-fs-h4)        { font-size: $f-h4;}
  // @include add(u-fs-h5)        { font-size: $f-h5;}
  // @include add(u-fs-h6)        { font-size: $f-h6;}

  // base type
  @include add(u-font-base)              { font-size: $f-base;}

  // helper type
  @include add(u-font-lead)              { font-size: $f-lead;}
  @include add(u-font-half)              { font-size: $f-half;}

  // // base type
  // @include add(u-fs-base)         { font-size: $f-base;}
  
  // // helper type
  // @include add(u-fs-lead)         { font-size: $f-lead;}
  // @include add(u-fs-half)         { font-size: $f-half;}
  // @include add(u-fs-inherit)      { font-size: inherit;}

  // small heading sizes
  @include add(u-font-small)             { font-size: $f-small;}    
  @include add(u-font-tiny)              { font-size: $f-tiny;}
  @include add(u-font-micro)             { font-size: $f-micro;}
  @include add(u-h7)                     { font-size: $f-h7;}  
  @include add(u-h8)                     { font-size: $f-h8;}  
  @include add(u-h9)                     { font-size: $f-h9;}  
  @include add(u-h10)                    { font-size: $f-h10;}  
  
  // // small heading sizes
  // @include add(u-fs-small)        { font-size: $f-small;} delete  
  // @include add(u-fs-tiny)         { font-size: $f-tiny;} delete
  // @include add(u-fs-micro)        { font-size: $f-micro;} delete
  // @include add(u-fs-h7)           { font-size: $f-h7;}  
  // @include add(u-fs-h8)           { font-size: $f-h8;}  
  // @include add(u-fs-h9)           { font-size: $f-h9;}  
  // @include add(u-fs-h10)          { font-size: $f-h10;}  


}//end if 