$use-utilities-font-sizes:  true !default;
   
@if $use-utilities-font-sizes == true{
/* ==========================================================================
   Utilities Fonts Sizes
   ========================================================================== */

  // big heading sizes
  @include add(u-fs-h1x)     { font-size: $f-h1x; }
  @include add(u-fs-h2x)     { font-size: $f-h2x; }
  @include add(u-fs-h3x)     { font-size: $f-h3x; }
  @include add(u-fs-h4x)     { font-size: $f-h4x; }
  @include add(u-fs-h5x)     { font-size: $f-h5x; }
  @include add(u-fs-h6x)     { font-size: $f-h6x; }  
  
  // h1 - h6
  @include add(u-fs-h1)      { font-size: $f-h1; }
  @include add(u-fs-h2)      { font-size: $f-h2; }
  @include add(u-fs-h3)      { font-size: $f-h3; }
  @include add(u-fs-h4)      { font-size: $f-h4; }
  @include add(u-fs-h5)      { font-size: $f-h5; }
  @include add(u-fs-h6)      { font-size: $f-h6; }
  
  // helper type
  @include add(u-fs-base)    { font-size: $f-base; }
  @include add(u-fs-lead)    { font-size: $f-lead; }
  @include add(u-fs-half)    { font-size: $f-half; }
  @include add(u-fs-inherit) { font-size: inherit; }
  
  // small font sizes
  @include add(u-fs-h7)      { font-size: $f-h7; }  
  @include add(u-fs-h8)      { font-size: $f-h8; }  
  @include add(u-fs-h9)      { font-size: $f-h9; }  
  @include add(u-fs-h10)     { font-size: $f-h10; }  

}//end if 