$use-utilities-notify:  true !default;
   
@if $use-utilities-notify == true{
/* ==========================================================================
   Utilities Notify
   ========================================================================== */

  // notify background colors
  @include add(u-success)     { background-color: $c-notify-success; }
  @include add(u-info)        { background-color: $c-notify-info; }
  @include add(u-warning)     { background-color: $c-notify-warning; }
  @include add(u-danger)      { background-color: $c-notify-danger; }
  @include add(u-error)       { background-color: $c-notify-error; }

  // notify colors
  @include add(u-c-success)   { color: $c-notify-success; }
  @include add(u-c-info)      { color: $c-notify-info; }
  @include add(u-c-warning)   { color: $c-notify-warning; }
  @include add(u-c-danger)    { color: $c-notify-danger; }
  @include add(u-c-error)     { color: $c-notify-error; }

}//end if