$use-utilities-position:  true !default;
   
@if $use-utilities-position == true{
/* ==========================================================================
   Utilities - Position
   ========================================================================== */
  
  // position
  @include add(u-pos-rel)   { position: relative; }
  @include add(u-pos-abs)   { position: absolute; }
  @include add(u-pos-fix)   { position: fixed; }

  //  // position
  @include add(u-p-relative)    { position: relative; }
  @include add(u-p-absolute)    { position: absolute; }
  @include add(u-p-fixed)    { position: fixed; }

  // position where
  @include add(u-pos-t0)    { top: 0; }
  @include add(u-pos-r0)    { right: 0; }
  @include add(u-pos-b0)    { bottom: 0; }
  @include add(u-pos-l0)    { left: 0; }

  //  // position where
  @include add(u-p-t-0)     { top: 0; }
  @include add(u-p-r-0)     { right: 0; }
  @include add(u-p-b-0)     { bottom: 0; }
  @include add(u-p-l-0)     { left: 0; }

  // z-index
  @include add(u-z-1)       { z-index: 1; }
  @include add(u-z-2)       { z-index: 2; }
  @include add(u-z-3)       { z-index: 3; }
  @include add(u-z-4)       { z-index: 4; }
  @include add(u-z-5)       { z-index: 5; }


}//end if