doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Core
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1') 

    include ../_partials/metaquery

    include ../_partials/icon-chrome-android
    
    include ../_partials/icon-safari-ios
    
    include ../_partials/icon-tile-win8

    include ../_partials/if-mobile-url
      
    link(type='text/css', rel='stylesheet', href='../assets/css/main.css')
  body.styleguide
    .l-styleguide-container.container
      ul(class='+u-unstyled  +u-text-center  +u-h1')
        li
          a(href='u-display.html') Utilities Display
        li
          a(href='u-extends.html') Utilities Extends
        li
          a(href='u-notify.html') Utilities Notify
        li
          a(href='u-extends.html') Utilities Extends
        li
          a(href='u-floats.html') Utilities Floats
        li
          a(href='u-position.html') Utilities Position
        li
          a(href='u-rounded.html') Utilities Rounded
        li 
          a(href='u-spaces.html') Utilities Spaces
        li 
          a(href='u-states.html') Utilities States
        li 
          a(href='u-text.html') Utilities Text
        li 
          a(href='u-vertical-align.html') Utilities Vertical Align
        li 
          a(href='u-widths.html') Utilities Widths
        hr
      ul(class='+u-unstyled  +u-text-center  +u-h1')
        li
          a(href='sink.html') Objects Sink
        li
          a(href='notify.html') Objects Notify
        li
          a(href='icon-fonts.html') Objects icon-fonts
        li
          a(href='link-complex.html') Objects link-complex
        li
          a(href='code.html') Objects code
        li 
          a(href='forms.html') Objects forms
        li 
          a(href='images.html') Objects images
        li 
          a(href='rules.html') Objects rules
        li 
          a(href='tables.html') Objects tables
        li 
          a(href='island.html') Objects island
        li 
          a(href='blockquote.html') Objects blockquote
        li 
          a(href='labels-pills.html') Objects labels-pills
        li 
          a(href='buttons.html') Objects buttons
        li 
          a(href='button-groups.html') Objects buttons-groups
        li 
          a(href='columns.html') Objects columns
        li 
          a(href='icon-fonts.html') Objects icon-fonts
        li 
          a(href='icon-text.html') Objects icon-text
        li 
          a(href='link-complex.html') Objects link-complex
        li 
          a(href='lists.html') Objects lists
        li 
          a(href='sprite.html') Objects sprite
        li 
          a(href='block-list.html') Objects block-list
        li 
          a(href='thumbnail.html') Objects thumbnail
        li 
          a(href='breadcrumbs.html') Objects breadcrumbs
        li 
          a(href='flyout.html') Objects flyout
        li 
          a(href='matrix.html') Objects matrix
        li 
          a(href='media.html') Objects media
        li 
          a(href='hamburger.html') Objects hamburger
        li 
          a(href='nav.html') Objects nav
        li 
          a(href='options.html') Objects options
        li 
          a(href='pagination.html') Objects pagination
        li 
          a(href='progress-bars.html') Objects progress-bars
        li 
          a(href='split.html') Objects split
        li 
          a(href='loaders.html') Objects loaders
        li 
          a(href='stats.html') Objects stats
        li 
          a(href='this-or-this.html') Objects this-or-this  
        li 
          a(href='flag.html') Objects flag  
    
    include ../_partials/scripts
    include ../_partials/analytics