doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Core
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1') 

    include ../_partials/site/metaquery

    include ../_partials/site/icon-chrome-android
    
    include ../_partials/site/icon-safari-ios
    
    include ../_partials/site/icon-tile-win8

    include ../_partials/site/if-mobile-url
      
    link(type='text/css', rel='stylesheet', href='../assets/css/main.css')
  body.styleguide
    .l-styleguide-container.container
      ul(class='+u-unstyled  +u-text-center  +u-h1')
        li
          a(href='sink.html') Sink
      ul(class='+u-unstyled  +u-text-center  +u-h1')
        li
          a(href='u-display.html') Utilities Display
        li
          a(href='u-extends.html') Utilities Extends
        li
          a(href='u-notify.html') Utilities Notify
        li
          a(href='u-extends.html') Utilities Extends
        li
          a(href='u-floats.html') Utilities Floats
        li
          a(href='u-position.html') Utilities Position
        li
          a(href='u-rounded.html') Utilities Rounded
        li 
          a(href='u-spaces.html') Utilities Spaces
        li 
          a(href='u-states.html') Utilities States
        li 
          a(href='u-text.html') Utilities Text
        li 
          a(href='u-vertical-align.html') Utilities Vertical Align
        li 
          a(href='u-widths.html') Utilities Widths
        hr
      ul(class='+u-unstyled  +u-text-center  +u-h1')
        li
          a(href='o-notify.html') Objects Notify
        li
          a(href='o-icon-fonts.html') Objects icon-fonts
        li
          a(href='o-link-complex.o-html') Objects link-complex
        li
          a(href='o-code.html') Objects code
        li 
          a(href='o-forms.html') Objects forms
        li 
          a(href='o-images.html') Objects images
        li 
          a(href='o-rules.html') Objects rules
        li 
          a(href='o-tables.html') Objects tables
        li 
          a(href='o-island.html') Objects island
        li 
          a(href='o-blockquote.html') Objects blockquote
        li 
          a(href='labels-pills.o-html') Objects labels-pills
        li 
          a(href='o-buttons.html') Objects buttons
        li 
          a(href='button-groups.o-html') Objects buttons-groups
        li 
          a(href='o-columns.html') Objects columns
        li 
          a(href='o-icon-fonts.html') Objects icon-fonts
        li 
          a(href='o-icon-text.html') Objects icon-text
        li 
          a(href='o-link-complex.html') Objects link-complex
        li 
          a(href='o-lists.html') Objects lists
        li 
          a(href='o-sprite.html') Objects sprite
        li 
          a(href='o-block-list.html') Objects block-list
        li 
          a(href='o-thumbnail.html') Objects thumbnail
        li 
          a(href='o-breadcrumbs.html') Objects breadcrumbs
        li 
          a(href='o-flyout.html') Objects flyout
        li 
          a(href='o-matrix.html') Objects matrix
        li 
          a(href='o-media.html') Objects media
        li 
          a(href='o-hamburger.html') Objects hamburger
        li 
          a(href='o-nav.html') Objects nav
        li 
          a(href='o-options.html') Objects options
        li 
          a(href='o-pagination.html') Objects pagination
        li 
          a(href='o-progress-bars.html') Objects progress-bars
        li 
          a(href='o-split.html') Objects split
        li 
          a(href='o-loaders.html') Objects loaders
        li 
          a(href='o-stats.html') Objects stats
        li 
          a(href='o-this-or-this.html') Objects this-or-this  
        li 
          a(href='o-flag.html') Objects flag  
    
    include ../_partials/site/scripts
    include ../_partials/site/analytics