doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Core Sink
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1') 

    include ../_partials/metaquery

    include ../_partials/icon-chrome-android
    
    include ../_partials/icon-safari-ios
    
    include ../_partials/icon-tile-win8

    include ../_partials/if-mobile-url
      
    link(type='text/css', rel='stylesheet', href='../assets/css/main.css')
  body.styleguide
    div.l-styleguide-container.container
      ul(class='+u-unstyled')
        li
          a(href='notify.html') Objects Notify
        li
          a(href='icon-fonts.html') Objects icon-fonts
        li
          a(href='link-complex.html') Objects link-complex
        li
          a(href='code.html') Objects code
        li 
          a(href='forms.html') Objects forms
        li 
          a(href='images.html') Objects images
        li 
          a(href='rules.html') Objects rules
        li 
          a(href='tables.html') Objects tables
        li 
          a(href='island.html') Objects island
        li 
          a(href='blockquote.html') Objects blockquote
        li 
          a(href='labels-pills.html') Objects labels-pills
        li 
          a(href='buttons.html') Objects buttons
        li 
          a(href='button-groups.html') Objects buttons-groups
        li 
          a(href='columns.html') Objects columns
        li 
          a(href='icon-fonts.html') Objects icon-fonts
        li 
          a(href='icon-text.html') Objects icon-text
        li 
          a(href='link-complex.html') Objects link-complex
        li 
          a(href='lists.html') Objects lists
        li 
          a(href='sprite.html') Objects sprite
        li 
          a(href='block-list.html') Objects block-list
        li 
          a(href='thumbnail.html') Objects thumbnail
        li 
          a(href='breadcrumbs.html') Objects breadcrumbs
        li 
          a(href='flyout.html') Objects flyout
        li 
          a(href='matrix.html') Objects matrix
        li 
          a(href='media.html') Objects media
        li 
          a(href='hamburger.html') Objects hamburger
        li 
          a(href='nav.html') Objects nav
        li 
          a(href='options.html') Objects options
        li 
          a(href='pagination.html') Objects pagination
        li 
          a(href='progress-bars.html') Objects progress-bars
        li 
          a(href='split.html') Objects split
        li 
          a(href='loaders.html') Objects loaders
        li 
          a(href='stats.html') Objects stats
        li 
          a(href='this-or-this.html') Objects this-or-this  
        li 
          a(href='flag.html') Objects flag

      include ../_partials/objects/lists
      include ../_partials/objects/loaders 
      include ../_partials/objects/tabs 
      include ../_partials/objects/flag
      include ../_partials/objects/hamburger
      include ../_partials/objects/matrix
      include ../_partials/objects/options
      include ../_partials/objects/tables
      include ../_partials/objects/link-complex
      include ../_partials/objects/blockquote
      include ../_partials/objects/progress-bars
      include ../_partials/objects/pagination
      include ../_partials/objects/this-or-this
      include ../_partials/objects/stats
      include ../_partials/objects/icon-fonts
      include ../_partials/objects/button-groups
      include ../_partials/objects/forms
      include ../_partials/objects/flyout
      include ../_partials/objects/icon-text
      include ../_partials/objects/rules
      include ../_partials/objects/split
      include ../_partials/objects/sprite
      include ../_partials/objects/island
      include ../_partials/objects/breadcrumbs
      include ../_partials/objects/labels-pills
      include ../_partials/objects/columns
      include ../_partials/objects/nav
      include ../_partials/objects/lists
      include ../_partials/objects/media
      include ../_partials/objects/buttons
      include ../_partials/objects/figure
      include ../_partials/objects/images
      include ../_partials/objects/thumbnail
      include ../_partials/objects/notify
      include ../_partials/objects/block-list


      include ../_partials/utilities/notify

      include ../_partials/base/colours

      include ../_partials/utilities/display
      include ../_partials/utilities/widths
      include ../_partials/utilities/spaces


      h1 Blockquote 
      div.styleguide-base.blockquote
        blockquote
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
          b Albert Einstein
        blockquote(class="+u-text-right")
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
          b Albert Einstein
        .styleguide-code
          p code here
 
      h1 source-Sans-Pro Webfont
      div.styleguide-base.fonts
        h2(class='+u-font-200'  style='font-family: source-sans-pro') ExtraLight
        p(class='+u-font-huge  +u-font-200'  style='font-family: source-sans-pro')
          | Parciais fy jac codi baw hud

          | llawn dŵr ger tŷ Mabon.

          // Welsh
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Ξεσκεπάζω την ψυχοφθόρα βδελυγμία.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          | У рудога вераб’я ў сховішчы пад

          | фатэлем ляжаць нейкія гаючыя зёлкі.

          // Byelarussian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-200  +u-font-italic'  style='font-family: source-sans-pro') ExtraLight Italic
        p(class='+u-font-huge  +u-font-200  +u-font-italic'  style='font-family: source-sans-pro')
          | Muļķa hipiji mēģina brīvi

          | nogaršot celofāna žņaudzējčūsku.

          // Latvian
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-300'  style='font-family: source-sans-pro') Light
        p(class='+u-font-huge  +u-font-300'  style='font-family: source-sans-pro')
          | Þú dazt á hnéð í vök og yfir

          | blóm sexý pæju.

          // Icelandic
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Ταχίστη αλώπηξ βαφής ψημένη γη,

          | δρασκελίζει υπέρ νωθρού κυνός.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          span(lang='sr')
            | Љубазни фењерџија чађавог
  
            | лица хоће да ми покаже штос.

          // Serbian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-300  +u-font-italic'  style='font-family: source-sans-pro') Light Italic
        p(class='+u-font-huge  +u-font-300  +u-font-italic'  style='font-family: source-sans-pro')
          | Loď čeří kýlem tůň obzvlášť

          | v Grónské úžině.

          // Czech
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-400'  style='font-family: source-sans-pro') Regular
        p(class='+u-font-huge  +u-font-400'  style='font-family: source-sans-pro')
          | Viewing quizzical abstracts

          | mixed up hefty jocks.

          // English
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Ζαφείρι δέξου πάγκαλο,

          | βαθῶν ψυχῆς τὸ σῆμα.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          | Съешь же ещё этих мягких

          | французских булок, да выпей чаю.

          // Russian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-500  +u-font-italic'  style='font-family: source-sans-pro') Italic
        p(class='+u-font-huge  +u-font-500  +u-font-italic'  style='font-family: source-sans-pro')
          | Voix ambiguë d’un cœur qui au

          | zéphyr préfère les jattes de kiwi.

          // French
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-600'  style='font-family: source-sans-pro') SemiBold
        p(class='+u-font-huge  +u-font-600'  style='font-family: source-sans-pro')
          | Victor jagt zwölf Boxkämpfer

          | quer über den großen Sylter Deich.

          // German
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Διαφυλάξτε γενικά τη ζωή σας

          | από βαθειά ψυχικά τραύματα.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          | Гномът Доцьо приключи спящ

          | в шейна за жаби.

          // Bulgarian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-600  +u-font-italic'  style='font-family: source-sans-pro') Semibold Italic
        p(class='+u-font-huge  +u-font-600  +u-font-italic'  style='font-family: source-sans-pro')
          | Jovencillo emponzoñado de

          | whisky: ¡qué figurota exhibe!

          // Spanish
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-700'  style='font-family: source-sans-pro') Bold
        p(class='+u-font-huge  +u-font-700'  style='font-family: source-sans-pro')
          | Flygande bäckasiner söka

          | hwila på mjuka tuvor.

          // Swedish
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Αβρός δ’εν προχοαίς κύκλωψ

          | φθογγάζετο μύρμηξ.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          | Чуєш їх, доцю, га? Кумедна ж ти,

          | прощайся без ґольфів!

          // Ukrainian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-700  +u-font-italic'  style='font-family: source-sans-pro') Bold Italic
        p(class='+u-font-huge  +u-font-700  +u-font-italic'  style='font-family: source-sans-pro')
          | Fahiş bluz güvencesi yağdırma

          | projesi çöktü.

          // Turkish
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-900'  style='font-family: source-sans-pro') Black
        p(class='+u-font-huge  +u-font-900'  style='font-family: source-sans-pro')
          | Jeżu klątw, spłódź Finom

          | część gry hańb!

          // Polish
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | Γαζίες και μυρτιές δεν θα βρω

          | πια στο χρυσαφί ξέφωτο.

          | ΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ

          | αβγδεζηθικλμνξοπρσςτυφχψω

          | Щётканы фермд пийшин цувъя.

          | Бөгж зогсч хэльюү.

          // Mongolian
          | абвгґдђѓеёєжнњопрс
          // с́

          | тћќуўuфхцчџшщъыьэюя

          | АБВГҐДЂЃЕЁЄЖНЊОПРС
          // С́

          | ТЋЌУЎUФХЦЧЏШЩЪЫЬЭЮЯ

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺₽ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪
        hr
        h2(class='+u-font-900  +u-font-italic'  style='font-family: source-sans-pro') Black Italic
        p(class='+u-font-huge  +u-font-900  +u-font-italic'  style='font-family: source-sans-pro')
          | In quel campo si trovan funghi

          | in abbondanza.

          // Italian
          | abcdefghijklmnopqrstuvwxyz

          | ABCDEFGHIJKLMNOPQRSTU

          | VWXYZ & 1234567890 .,:;… ¡!¿?

          | '" ‘’ “” ‚„′″‹› «» ()[]{}/|\ * †‡ § @ ¶

          | $£¥€¢ƒ₹₺ %‰ ¼½¾⅓⅔⅛⅜⅝

          | +−×÷∙=<>≤≥±^≠~≈¬ #π∞µ∂∫√

          | ←
          // ↖
          | ↑
          // ↗
          | →
          // ↘
          | ↓
          // ↙
          | ▲▶▼◀△▷▽◁ ☑✓ ♪

    include ../_partials/scripts
    include ../_partials/analytics