doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    title Core Objects Stats
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1') 

    include ../_partials/metaquery

    include ../_partials/icon-chrome-android
    
    include ../_partials/icon-safari-ios
    
    include ../_partials/icon-tile-win8

    include ../_partials/if-mobile-url
      
    link(type='text/css', rel='stylesheet', href='../assets/css/main.css')
  body.styleguide
    //- include:markdown ../_partials/article.md
    .l-styleguide-container.container
      include ../_partials/objects/stats

    include ../_partials/scripts
    include ../_partials/analytics