h1(class='styleguide-title +u-fs-h4x') Colours Utilities
h2.styleguide-title--sub Background Custom
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-white')  
  div.styleguide-colors(class='+u-bc-silver')
  div.styleguide-colors(class='+u-bc-gray')  
  div.styleguide-colors(class='+u-bc-black')
  div.styleguide-colors(class='+u-bc-red')  
  div.styleguide-colors(class='+u-bc-maroon')
  div.styleguide-colors(class='+u-bc-orange') 
  div.styleguide-colors(class='+u-bc-yellow') 
  div.styleguide-colors(class='+u-bc-olive')
  div.styleguide-colors(class='+u-bc-lime') 
  div.styleguide-colors(class='+u-bc-green')
  div.styleguide-colors(class='+u-bc-aqua')   
  div.styleguide-colors(class='+u-bc-teal') 
  div.styleguide-colors(class='+u-bc-blue') 
  div.styleguide-colors(class='+u-bc-navy')
  div.styleguide-colors(class='+u-bc-fuchsia')
  div.styleguide-colors(class='+u-bc-purple')
  div.styleguide-colors(class='+u-bc-pink')
h2.styleguide-title--sub Colour Custom
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-white') white    
  div.styleguide-colors(class='+u-c-silver') silver
  div.styleguide-colors(class='+u-c-gray') gray  
  div.styleguide-colors(class='+u-c-black') black
  div.styleguide-colors(class='+u-c-red') red  
  div.styleguide-colors(class='+u-c-maroon') maroon
  div.styleguide-colors(class='+u-c-orange') orange 
  div.styleguide-colors(class='+u-c-yellow') yellow 
  div.styleguide-colors(class='+u-c-olive') olive
  div.styleguide-colors(class='+u-c-lime') lime 
  div.styleguide-colors(class='+u-c-green') green
  div.styleguide-colors(class='+u-c-aqua') aqua   
  div.styleguide-colors(class='+u-c-teal') teal 
  div.styleguide-colors(class='+u-c-blue') blue 
  div.styleguide-colors(class='+u-c-navy') navy
  div.styleguide-colors(class='+u-c-fuchsia') fuchsia
  div.styleguide-colors(class='+u-c-purple') purple
  div.styleguide-colors(class='+u-c-pink') pink 
h2.styleguide-title--sub Colour Background
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-1')
  div.styleguide-colors(class='+u-bc-2')
  div.styleguide-colors(class='+u-bc-3')
h2.styleguide-title--sub Background Links
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-link')
  div.styleguide-colors(class='+u-bc-hover')
  div.styleguide-colors(class='+u-bc-active')
  div.styleguide-colors(class='+u-bc-visited')
h2.styleguide-title--sub Colour Links
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-link') link
  div.styleguide-colors(class='+u-c-hover') hover
  div.styleguide-colors(class='+u-c-active') active
  div.styleguide-colors(class='+u-c-visited') visted
h2.styleguide-title--sub Background Notify
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-success')
  div.styleguide-colors(class='+u-bc-info')
  div.styleguide-colors(class='+u-bc-error')
  div.styleguide-colors(class='+u-bc-warning')
  div.styleguide-colors(class='+u-bc-danger')
h2.styleguide-title--sub Colour Notify
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-success') success
  div.styleguide-colors(class='+u-c-info') info
  div.styleguide-colors(class='+u-c-error') error
  div.styleguide-colors(class='+u-c-warning') warning
  div.styleguide-colors(class='+u-c-danger') danger
h2.styleguide-title--sub Colour Headings
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-h-1') heading
  div.styleguide-colors(class='+u-c-h-2') heading
  div.styleguide-colors(class='+u-c-h-3') heading
h2.styleguide-title--sub Background Buttons
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-btn-1') button
  div.styleguide-colors(class='+u-c-btn-2') button
  div.styleguide-colors(class='+u-bc-btn-1')
  div.styleguide-colors(class='+u-bc-btn-2')
h2.styleguide-title--sub Colour Forms
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-form-1') form
  div.styleguide-colors(class='+u-c-form-2') form
  div.styleguide-colors(class='+u-bc-form-input')
  div.styleguide-colors(class='+u-bc-form-hover')
  div.styleguide-colors(class='+u-bc-form-active')
  div.styleguide-colors(class='+u-bc-form-focus')
h2.styleguide-title--sub Colour Code
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-code') code
  div.styleguide-colors(class='+u-bc-code')
h2.styleguide-title--sub Background Colour Brands
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-google')
  div.styleguide-colors(class='+u-bc-facebook')
  div.styleguide-colors(class='+u-bc-twitter')
  div.styleguide-colors(class='+u-bc-linkedin')
  div.styleguide-colors(class='+u-bc-dribble')
  div.styleguide-colors(class='+u-bc-instagram')
  div.styleguide-colors(class='+u-bc-googleplus')
  div.styleguide-colors(class='+u-bc-behance')
  div.styleguide-colors(class='+u-bc-gimmebar')
  div.styleguide-colors(class='+u-bc-github')
  div.styleguide-colors(class='+u-bc-tumblr')
  div.styleguide-colors(class='+u-bc-youtube')
  div.styleguide-colors(class='+u-bc-vine')
  div.styleguide-colors(class='+u-bc-kickstarter')
  div.styleguide-colors(class='+u-bc-dropbox')
  div.styleguide-colors(class='+u-bc-rss')
  div.styleguide-colors(class='+u-bc-facebook')
  div.styleguide-colors(class='+u-bc-codepen')
  div.styleguide-colors(class='+u-bc-foursquare')
  div.styleguide-colors(class='+u-bc-soundcloud')
  div.styleguide-colors(class='+u-bc-wordpress')
  div.styleguide-colors(class='+u-bc-tumblr')
  div.styleguide-colors(class='+u-bc-blogger')
  div.styleguide-colors(class='+u-bc-squarespace')
  div.styleguide-colors(class='+u-bc-joomla')
  div.styleguide-colors(class='+u-bc-drupal')
  div.styleguide-colors(class='+u-bc-typepad')
  div.styleguide-colors(class='+u-bc-expression-engine')
  div.styleguide-colors(class='+u-bc-kirby')
  div.styleguide-colors(class='+u-bc-moveabletype')
  div.styleguide-colors(class='+u-bc-disqus')
  div.styleguide-colors(class='+u-bc-html')
h2.styleguide-title--sub Colour Brands
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-google') google
  div.styleguide-colors(class='+u-c-facebook') facebook
  div.styleguide-colors(class='+u-c-twitter') twitter
  div.styleguide-colors(class='+u-c-linkedin') linkedin
  div.styleguide-colors(class='+u-c-dribble') dribble
  div.styleguide-colors(class='+u-c-instagram') instagram
  div.styleguide-colors(class='+u-c-googleplus') googleplus
  div.styleguide-colors(class='+u-c-behance') behance
  div.styleguide-colors(class='+u-c-gimmebar') gimmebar
  div.styleguide-colors(class='+u-c-github') github
  div.styleguide-colors(class='+u-c-tumblr') tumblr
  div.styleguide-colors(class='+u-c-youtube') youtube
  div.styleguide-colors(class='+u-c-vine') vine
  div.styleguide-colors(class='+u-c-kickstarter') kickstarter
  div.styleguide-colors(class='+u-c-dropbox') dropbox
  div.styleguide-colors(class='+u-c-rss') rss
  div.styleguide-colors(class='+u-c-facebook') facebook
  div.styleguide-colors(class='+u-c-codepen') codepen
  div.styleguide-colors(class='+u-c-foursquare') foursquare
  div.styleguide-colors(class='+u-c-soundcloud') soundcloud
  div.styleguide-colors(class='+u-c-wordpress') wordpress
  div.styleguide-colors(class='+u-c-tumblr') tumblr
  div.styleguide-colors(class='+u-c-blogger') blogger
  div.styleguide-colors(class='+u-c-squarespace') squarespace
  div.styleguide-colors(class='+u-c-joomla') joomla
  div.styleguide-colors(class='+u-c-drupal') drupal
  div.styleguide-colors(class='+u-c-typepad') typepad
  div.styleguide-colors(class='+u-c-expression-enexpression') Color
  div.styleguide-colors(class='+u-c-kirby') kirby
  div.styleguide-colors(class='+u-c-moveabletype') moveabletype
  div.styleguide-colors(class='+u-c-disqus') disqus
  div.styleguide-colors(class='+u-c-html') html