h1(class='styleguide-title +u-h4x') Colours Utilities
h2.styleguide-title--sub Colour Custom
.styleguide-utilities.config
  div.styleguide-colors.white     
  div.styleguide-colors.silver 
  div.styleguide-colors.gray   
  div.styleguide-colors.black 
  div.styleguide-colors.red   
  div.styleguide-colors.maroon
  div.styleguide-colors.orange  
  div.styleguide-colors.yellow  
  div.styleguide-colors.olive 
  div.styleguide-colors.lime  
  div.styleguide-colors.green
  div.styleguide-colors.aqua    
  div.styleguide-colors.teal  
  div.styleguide-colors.blue  
  div.styleguide-colors.navy 
  div.styleguide-colors.fuchsia 
  div.styleguide-colors.purple
  div.styleguide-colors.pink  
h2.styleguide-title--sub Colour Background
.styleguide-utilities.config
  div.styleguide-colors.bgc-1
  div.styleguide-colors.bgc-2
  div.styleguide-colors.bgc-3
h2.styleguide-title--sub Colour Buttons
.styleguide-utilities.config
  div.styleguide-colors.c-btn-1
  div.styleguide-colors.c-btn-2
  div.styleguide-colors.bgc-btn-1
  div.styleguide-colors.bgc-btn-2
h2.styleguide-title--sub Colour Links
.styleguide-utilities.config
  div.styleguide-colors.c-link
  div.styleguide-colors.c-link-hover
  div.styleguide-colors.c-link-active
  div.styleguide-colors.c-link-visited
h2.styleguide-title--sub Colour Notify
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bgc-success')
  div.styleguide-colors(class='+u-bgc-info')
  div.styleguide-colors(class='+u-bgc-error')
  div.styleguide-colors(class='+u-bgc-warning')
  div.styleguide-colors(class='+u-bgc-danger')
h2.styleguide-title--sub Colour Headings
.styleguide-utilities.config
  div.styleguide-colors.c-heading-1
  div.styleguide-colors.c-heading-2
  div.styleguide-colors.c-heading-3
h2.styleguide-title--sub Colour Forms
.styleguide-utilities.config
  div.styleguide-colors.c-form-1
  div.styleguide-colors.c-form-2
  div.styleguide-colors.c-form-input
  div.styleguide-colors.c-form-hover
  div.styleguide-colors.c-form-active
  div.styleguide-colors.c-form-focus
h2.styleguide-title--sub Colour Code
.styleguide-utilities.config
  div.styleguide-colors.c-code
  div.styleguide-colors.bgc-code
h2.styleguide-title--sub Colour Brands
.styleguide-utilities.config
  div.styleguide-colors.google
  div.styleguide-colors.facebook
  div.styleguide-colors.twitter
  div.styleguide-colors.linkedin
  div.styleguide-colors.dribble
  div.styleguide-colors.instagram
  div.styleguide-colors.googleplus
  div.styleguide-colors.behance
  div.styleguide-colors.gimmebar
  div.styleguide-colors.github
  div.styleguide-colors.tumblr
  div.styleguide-colors.youtube
  div.styleguide-colors.vine
  div.styleguide-colors.kickstarter
  div.styleguide-colors.dropbox
  div.styleguide-colors.rss
  div.styleguide-colors.facebook
  div.styleguide-colors.codepen
  div.styleguide-colors.foursquare
  div.styleguide-colors.soundcloud
  div.styleguide-colors.wordpress
  div.styleguide-colors.tumblr
  div.styleguide-colors.blogger
  div.styleguide-colors.squarespace
  div.styleguide-colors.joomla
  div.styleguide-colors.drupal
  div.styleguide-colors.typepad
  div.styleguide-colors.expression-engine
  div.styleguide-colors.kirby
  div.styleguide-colors.moveabletype
  div.styleguide-colors.disqus
  div.styleguide-colors.html
h1(class='styleguide-title +u-h4x') Colours Utilities New
h2.styleguide-title--sub Colour Custom
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-white')     
  div.styleguide-colors(class='+u-bc-silver') 
  div.styleguide-colors(class='+u-bc-gray')   
  div.styleguide-colors(class='+u-bc-black') 
  div.styleguide-colors(class='+u-bc-red')   
  div.styleguide-colors(class='+u-bc-maroon')
  div.styleguide-colors(class='+u-bc-orange')  
  div.styleguide-colors(class='+u-bc-yellow')  
  div.styleguide-colors(class='+u-bc-olive') 
  div.styleguide-colors(class='+u-bc-lime')  
  div.styleguide-colors(class='+u-bc-green')
  div.styleguide-colors(class='+u-bc-aqua')    
  div.styleguide-colors(class='+u-bc-teal')  
  div.styleguide-colors(class='+u-bc-blue')  
  div.styleguide-colors(class='+u-bc-navy') 
  div.styleguide-colors(class='+u-bc-fuchsia') 
  div.styleguide-colors(class='+u-bc-purple')
  div.styleguide-colors(class='+u-bc-pink')  
h2.styleguide-title--sub Colour Background
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bc-1')
  div.styleguide-colors(class='+u-bc-2')
  div.styleguide-colors(class='+u-bc-3')
h2.styleguide-title--sub Colour Buttons
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-1').c-btn-1
  div.styleguide-colors(class='+u-c-1').c-btn-2
  div.styleguide-colors(class='+u-').bgc-btn-1
  div.styleguide-colors(class='+u-').bgc-btn-2
h2.styleguide-title--sub Colour Links
.styleguide-utilities.config
  div.styleguide-colors(class='+u-c-link').c-link
  div.styleguide-colors(class='+u-c-hover').c-link-hover
  div.styleguide-colors(class='+u-c-active').c-link-active
  div.styleguide-colors(class='+u-c-visted').c-link-visited
h2.styleguide-title--sub Colour Notify
.styleguide-utilities.config
  div.styleguide-colors(class='+u-bgc-success')
  div.styleguide-colors(class='+u-bgc-info')
  div.styleguide-colors(class='+u-bgc-error')
  div.styleguide-colors(class='+u-bgc-warning')
  div.styleguide-colors(class='+u-bgc-danger')
h2.styleguide-title--sub Colour Headings
.styleguide-utilities.config
  div.styleguide-colors(class='').c-heading-1
  div.styleguide-colors(class='').c-heading-2
  div.styleguide-colors(class='').c-heading-3
h2.styleguide-title--sub Colour Forms
.styleguide-utilities.config
  div.styleguide-colors(class='').c-form-1
  div.styleguide-colors(class='').c-form-2
  div.styleguide-colors(class='').c-form-input
  div.styleguide-colors(class='').c-form-hover
  div.styleguide-colors(class='').c-form-active
  div.styleguide-colors(class='').c-form-focus
h2.styleguide-title--sub Colour Code
.styleguide-utilities.config
  div.styleguide-colors(class='').c-code
  div.styleguide-colors(class='').bgc-code
h2.styleguide-title--sub Colour Brands
.styleguide-utilities.config
  div.styleguide-colors(class='').google
  div.styleguide-colors(class='').facebook
  div.styleguide-colors(class='').twitter
  div.styleguide-colors(class='').linkedin
  div.styleguide-colors(class='').dribble
  div.styleguide-colors(class='').instagram
  div.styleguide-colors(class='').googleplus
  div.styleguide-colors(class='').behance
  div.styleguide-colors(class='').gimmebar
  div.styleguide-colors(class='').github
  div.styleguide-colors(class='').tumblr
  div.styleguide-colors(class='').youtube
  div.styleguide-colors(class='').vine
  div.styleguide-colors(class='').kickstarter
  div.styleguide-colors(class='').dropbox
  div.styleguide-colors(class='').rss
  div.styleguide-colors(class='').facebook
  div.styleguide-colors(class='').codepen
  div.styleguide-colors(class='').foursquare
  div.styleguide-colors(class='').soundcloud
  div.styleguide-colors(class='').wordpress
  div.styleguide-colors(class='').tumblr
  div.styleguide-colors(class='').blogger
  div.styleguide-colors(class='').squarespace
  div.styleguide-colors(class='').joomla
  div.styleguide-colors(class='').drupal
  div.styleguide-colors(class='').typepad
  div.styleguide-colors(class='').expression-engine
  div.styleguide-colors(class='').kirby
  div.styleguide-colors(class='').moveabletype
  div.styleguide-colors(class='').disqus
  div.styleguide-colors(class='').html