h1(class='styleguide-title +u-h4x') Display Utilities
.styleguide-utilities.displays
  div(class='+u-block') 
    p u-block
  div(class='+u-inline') 
    p u-inline
  div(class='+u-inline-block') 
    p u-inline-block
  div(class='+u-table') 
    p u-table
  div(class='+u-flex') 
    p u-flex
h1(class='styleguide-title +u-h4x') Display Utilities New
.styleguide-utilities.displays
  div(class='+u-d-blo') 
    p 
      code u-block
  div(class='+u-d-inl') 
    p 
      code u-inline
  div(class='+u-d-ib') 
    p 
      code u-inline-block
  div(class='+u-d-tab') 
    p 
      code u-table
  div(class='+u-d-tc') 
    p 
      code u-table
  div(class='+u-d-fle') 
    p 
      code u-flex