h1(class='styleguide-title +u-fs-h4x') Floats Utilities 2.0
h2.styleguide-title--sub Right
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-f-right" style='height:150px; width:150px;')
    span right
.styleguide-code
  p code here
h2.styleguide-title--sub Left
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-f-left" style='height:150px; width:150px;')
    span left
.styleguide-code
  p code here
h2.styleguide-title--sub Inherit
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-f-right  +u-f-inherit  +u-clearfix" style='height:150px; width:150px;')
     span inherit
.styleguide-code
  p code here