h1(class='styleguide-title +u-h4x') Floats Utilities
h2.styleguide-title--sub Right
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-right" style='height:150px; width:150px;')
    span right
.styleguide-code
  p code here
h2.styleguide-title--sub Left
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-left" style='height:150px; width:150px;')
    span left
.styleguide-code
  p code here
h2.styleguide-title--sub Inherit
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-float-right  +u-float-inherit  +u-clearfix" style='height:150px; width:150px;')
     span inherit
.styleguide-code
  p code here
h2.styleguide-title--sub Right
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-f-rig" style='height:150px; width:150px;')
    span 
      code +u-f-rig
.styleguide-code
  p code here
h2.styleguide-title--sub Left
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  +u-f-lef" style='height:150px; width:150px;')
    span 
      code +u-f-lef
.styleguide-code
  p code here
h2.styleguide-title--sub Inherit
.styleguide-utilities.floats(class='+u-clearfix')
  div(class="+u-block  u-f-lef  +u-f-inh  +u-clearfix" style='height:150px; width:150px;')
     span 
      code +u-f-inh
.styleguide-code
  p code here