h1(class='styleguide-title +u-h4x') Font Styles Utilities
h2.styleguide-title--sub Font Style
.styleguide-utilities.fonts
  p(class='+u-font-normal') font-style: normal
  p(class='+u-font-italic') font-style: italic
  p(class='+u-font-oblique') font-style: oblique

h2.styleguide-title--sub Font Style
.styleguide-utilities.fonts
  p(class='+u-fs-nor') font-style: normal
  p(class='+u-fs-ita') font-style: italic
  p(class='+u-fs-obl') font-style: oblique