h1(class='styleguide-title +u-h4x') Font Weights Utilities
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-font-100') font-weight: 100
  p(class='+u-font-200') font-weight: 200
  p(class='+u-font-300') font-weight: 300
  p(class='+u-font-400') font-weight: 400
  p(class='+u-font-500') font-weight: 500
  p(class='+u-font-600') font-weight: 600
  p(class='+u-font-700') font-weight: 700
  p(class='+u-font-800') font-weight: 800
  p(class='+u-font-900') font-weight: 900
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-font-normal') font-weight: normal
  p(class='+u-font-bold') font-weight: bold
  p(class='+u-font-lighter') font-weight: lighter
  p(class='+u-font-bolder') font-weight: bolder
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-fw-100') font-weight: 100
  p(class='+u-fw-200') font-weight: 200
  p(class='+u-fw-300') font-weight: 300
  p(class='+u-fw-400') font-weight: 400
  p(class='+u-fw-500') font-weight: 500
  p(class='+u-fw-600') font-weight: 600
  p(class='+u-fw-700') font-weight: 700
  p(class='+u-fw-800') font-weight: 800
  p(class='+u-fw-900') font-weight: 900
h2.styleguide-title--sub Font Weight
.styleguide-utilities.typography
  p(class='+u-fw-nor') font-weight: normal
  p(class='+u-fw-bol') font-weight: bold
