h2.styleguide-title--sub Space Padding Box
div.styleguide-utilities.box
  div
    div
      div.padding(class='+u-i-sixth') 
        p
          span Padding Space 1/6
  div
    div
      div.padding(class='+u-i-fifth') 
        p
          span Padding Space 1/5
  div
    div
      div.padding(class='+u-i-quarter') 
        p
          span Padding Space 1/4
  div
    div
      div.padding(class='+u-i-third') 
        p
          span Padding Space 1/3
  div
    div
      div.padding(class='+u-i-half') 
        p
          span Padding Space 1/2
  div
    div
      div.padding(class='+u-i') 
        p
          span Padding Space 1
  div
    div
      div.padding(class='+u-i-1-half-box') 
        p
          span Padding Space 1 half
  div
    div
      div.padding(class='+u-i-2-box') 
        p
          span Padding Space 2
  div
    div
      div.padding(class='+u-i-3-box') 
        p
          span Padding Space 3
  div
    div
      div.padding(class='+u-i-4-box') 
        p
          span Padding Space 4
  div
    div
      div.padding(class='+u-i-5-box') 
        p
          span Padding Space 5
  div
    div
      div.padding(class='+u-i-6-box') 
        p
          span Padding Space 6
h2.styleguide-title--sub Space Margin Box
div.styleguide-utilities.box
  div
    div.margin 
      p(class='+u-i-sixth-box')
        span margin Space 1/6
  div
    div.margin
      p(class='+u-i-fifth-box') 
        span margin Space 1/5
  div
    div.margin
      p(class='+u-i-quarter-box') 
        span margin Space 1/4
  div
    div.margin 
      p(class='+u-i-third-box')
        span margin Space 1/3
  div
    div.margin 
      p(class='+u-i-half-box')
        span margin Space 1/2
  div
    div.margin
      p(class='+u-i-box') 
        span margin Space 1
  div
    div.margin
      p(class='+u-i-1-half-box') 
        span margin Space 1 half
  div
    div.margin
      p(class='+u-i-2-box')
        span margin Space 2
  div
    div.margin
      p(class='+u-i-3-box') 
        span margin Space 3
  div
    div.margin
      p(class='+u-i-4-box') 
        span margin Space 4
  div
    div.margin
      p(class='+u-i-5-box') 
        span margin Space 5
  div
    div.margin
      p(class='+u-i-6-box') 
        span margin Space 6
h2.styleguide-title--sub Space Padding Box New
div.styleguide-utilities.box
  div
    div
      div.padding(class='+u-i-sixth-box') 
        p
          span Padding Space 1/6
  div
    div
      div.padding(class='+u-i-fifth-box') 
        p
          span Padding Space 1/5
  div
    div
      div.padding(class='+u-i-quarter-box') 
        p
          span Padding Space 1/4
  div
    div
      div.padding(class='+u-i-third-box') 
        p
          span Padding Space 1/3
  div
    div
      div.padding(class='+u-i-half-box') 
        p
          span Padding Space 1/2
  div
    div
      div.padding(class='+u-i-box') 
        p
          span Padding Space 1
  div
    div
      div.padding(class='+u-i-1-half-box') 
        p
          span Padding Space 1 half
  div
    div
      div.padding(class='+u-i-2-box') 
        p
          span Padding Space 2
  div
    div
      div.padding(class='+u-i-3-box') 
        p
          span Padding Space 3
  div
    div
      div.padding(class='+u-i-4-box') 
        p
          span Padding Space 4
  div
    div
      div.padding(class='+u-i-5-box') 
        p
          span Padding Space 5
  div
    div
      div.padding(class='+u-i-6-box') 
        p
          span Padding Space 6
h2.styleguide-title--sub Space Margin Box
div.styleguide-utilities.box
  div
    div.margin 
      p(class='+u-i-1/6')
        span margin Space 1/6
  div
    div.margin
      p(class='+u-i-1/5') 
        span margin Space 1/5
  div
    div.margin
      p(class='+u-i-1/4') 
        span margin Space 1/4
  div
    div.margin 
      p(class='+u-i-1/3')
        span margin Space 1/3
  div
    div.margin 
      p(class='+u-i-1/2')
        span margin Space 1/2
  div
    div.margin
      p(class='+u-i') 
        span margin Space 1
  div
    div.margin
      p(class='+u-i-1-half-box') 
        span margin Space 1 half
  div
    div.margin
      p(class='+u-i-2')
        span margin Space 2
  div
    div.margin
      p(class='+u-i-3') 
        span margin Space 3
  div
    div.margin
      p(class='+u-i-4') 
        span margin Space 4
  div
    div.margin
      p(class='+u-i-5') 
        span margin Space 5
  div
    div.margin
      p(class='+u-i-6') 
        span margin Space 6