//- h1(class='styleguide-title +u-h4x') Rounded Utilities
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-round" style='height:200px; width:200px;')
//-     span round
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded" style='height:200px; width:200px;')
//-     span rounded
//- h2.styleguide-title--sub Rounded Top
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-t" style='height:200px; width:200px;')
//-     span rounded-top
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-tl" style='height:200px; width:200px;')
//-     span rounded-top-left
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-tr" style='height:200px; width:200px;')
//-     span rounded-top-right
//- h2.styleguide-title--sub Rounded 
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-r" style='height:200px; width:200px;')
//-     span rounded-right
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-b" style='height:200px; width:200px;')
//-     span rounded-bottom
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-bl" style='height:200px; width:200px;')
//-     span rounded-bottom-left
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-br" style='height:200px; width:200px;')
//-     span rounded-bottom-right
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-rounded-l" style='height:200px; width:200px;')
//-     span rounded-left
//- h2.styleguide-title--sub Rounded
//- .styleguide-utilities.rounded(class='+u-clearfix')
//-   div(class="+u-block  +u-round  +u-reset-rounded" style='height:200px; width:200px;')
//-     span reset-rounded
h2.styleguide-title--sub Rounded Circle
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-cir" style='height:200px; width:200px;')
    span 
      code +u-r-cir
h2.styleguide-title--sub Rounded All
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-all" style='height:200px; width:200px;')
    span 
      code +u-r-all
h2.styleguide-title--sub Rounded Top
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-top" style='height:200px; width:200px;')
    span
      code +u-r-top
h2.styleguide-title--sub Rounded Top Left
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-tl" style='height:200px; width:200px;')
    span 
      code +u-r-tl
h2.styleguide-title--sub Rounded Top Right
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-tr" style='height:200px; width:200px;')
    span 
      code +u-r-tr
h2.styleguide-title--sub Rounded Right
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-rig" style='height:200px; width:200px;')
    span 
      code +u-r-rig
h2.styleguide-title--sub Rounded Bottom
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-bot" style='height:200px; width:200px;')
    span 
      code +u-r-bot
h2.styleguide-title--sub Rounded Bottom Left
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-bl" style='height:200px; width:200px;')
    span 
      code +u-r-bl
h2.styleguide-title--sub Rounded Bottom Right
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-br" style='height:200px; width:200px;')
    span 
      code +u-r-br
h2.styleguide-title--sub Rounded Left
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-r-lef" style='height:200px; width:200px;')
    span
      code +u-r-lef
h2.styleguide-title--sub Rounded Reset
.styleguide-utilities.rounded(class='+u-clearfix')
  div(class="+u-block  +u-round  +u-r-res" style='height:200px; width:200px;')
    span 
      code +u-r-res
