h1(class='styleguide-title +u-font-huge') Text Utilities
div.styleguide-utilities.typograph
  h1 h1 Heading
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fuga ducimus dolorem suscipit.
  h2 h2 Heading
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus perspiciatis labore quis, qui, animi hic autem est aut beatae sit!
  h3 h3 Heading
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis modi a numquam commodi provident amet.
  h4 h4 Heading
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut error voluptates optio dolores vel libero. Odit hic nostrum a tempora, facere aut, quia.
  h5 h5 Heading 5
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, reiciendis.
  h6 h6 Heading 6
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, repellendus illum ad.

div.styleguide-utilities.typograph
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

div.styleguide-utilities.typograph
  p(class='+u-font-lead') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.

div.styleguide-base.typography
  a(href='#') a element
  br
  abbr(title='Title text') abbr element
  br
  b b element
  br
  cite cite element
  br
  code code element
  br
  del del element
  br
  dfn dfn element
  br
  em em element
  br
  i i element img element
  br
  ins ins element
  br
  kbd kbd element
  br
  mark mark element
  br
  q
    | q element
    q inside
    | a q element
  br
  s s element
  br
  samp samp element
  br
  small small element
  br
  span span element
  br
  strike strike element
  br
  strong strong element
  br
  sub sub element
  br
  sup sup element
  br
  var var element
  br
  u u element

div.styleguide-utilities.typography
  p(class='+u-text-lower') Lorem ipsum dolor sit amet.
  p(class='+u-text-upper') Lorem ipsum dolor sit amet.
  p(class='+u-text-caps') Lorem ipsum dolor sit amet.

div.styleguide-utilities.text-alignment
  p(class='+u-text-left') 
    span Left:
    | As most young candidates for the pains and penalties of whaling stop at this same New Bedford, thence to embark on their voyage, it may as well be related that I, for one, had no idea of so doing. For my mind was made up to sail in no other than a Nantucket craft, because there was a fine, boisterous something about everything connected with that famous old island, which amazingly pleased me. Besides though New Bedford has of late been gradually monopolizing the business of whaling, and though in this matter poor old Nantucket is now much behind her, yet Nantucket was her great original- the Tyre of this Carthage;- the place where the first dead American whale was stranded.
  p(class='+u-text-right')
    span Right:
    | Where else but from Nantucket did those aboriginal whalemen, the Red-Men, first sally out in canoes to give chase to the Leviathan? And where but from Nantucket, too, did that first adventurous little sloop put forth, partly laden with imported cobblestones- so goes the story- to throw at the whales, in order to discover when they were nigh enough to risk a harpoon from the bowsprit?
  p(class='+u-text-center')
    span Center:
    | Now having a night, a day, and still another night following before me in New Bedford, ere could embark for my destined port, it became a matter of concernment where I was to eat and sleep meanwhile. It was a very dubious-looking, nay, a very dark and dismal night, bitingly cold and cheerless. I knew no one in the place. With anxious grapnels I had sounded my pocket, and only brought up a few pieces of silver
  p(class='+u-text-justify') 
    span Justify:
    | So, wherever you go, Ishmael, said I to myself, as I stood in the middle of a dreary street shouldering my bag, and comparing the towards the north with the darkness towards the south- wherever in your wisdom you may conclude to lodge for the night, my dear Ishmael, be sure to inquire the price, and don't be too particular.

div.styleguide-utilities.typography
  h1(class='+u-font-massive') font-size: $f-massive
  h1(class='+u-font-huge') font-size: $f-huge
  h1(class='+u-font-large') font-size: $f-large

div.styleguide-utilities.typography
  h1(class='+u-h1') font-size: $f-h1
  h1(class='+u-h2') font-size: $f-h2
  h1(class='+u-h3') font-size: $f-h3
  h1(class='+u-h4') font-size: $f-h4
  h1(class='+u-h5') font-size: $f-h5
  h1(class='+u-h6') font-size: $f-h6

div.styleguide-utilities.typography
  p(class='+u-font-base') font-size: $f-base
  p(class='+u-font-lead') font-size: $f-lead
  p(class='+u-font-half') font-size: $f-half

div.styleguide-utilities.typography
  p(class='+u-font-small') font-size: $f-small
  p(class='+u-font-tiny') font-size: $f-tiny
  p(class='+u-font-micro') font-size: $f-micro

div.styleguide-utilities.typography
  p(class='+u-font-100') font-weight: 100
  p(class='+u-font-200') font-weight: 200
  p(class='+u-font-300') font-weight: 300
  p(class='+u-font-400') font-weight: 400
  p(class='+u-font-500') font-weight: 500
  p(class='+u-font-600') font-weight: 600
  p(class='+u-font-700') font-weight: 700
  p(class='+u-font-800') font-weight: 800
  p(class='+u-font-900') font-weight: 900

div.styleguide-utilities.fonts
  p(class='+u-font-normal') font-style: normal
  p(class='+u-font-italic') font-style: italic
  p(class='+u-font-oblique') font-style: oblique