$use-add-ons-select-flat:	true !default;

@if $use-add-ons-select-flat == true{
	/* ==========================================================================
   Addon - Flat Select
   ========================================================================== */
   
	.a-pulldown__inner{
		position: relative;
		margin-top: $space-half;
		height: $space-3;
	}

	.a-pulldown__select{
		position: relative;
		display: inline-block;
		padding-right: $space-3;
		padding-left: $space-1-half;
		width: 100%;
		line-height: $space-3;
		border: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-moz-appearance: window;
		border: 0;
		border-radius: 0;
		background: $bgc-btn-1; 
		outline: 0;
		&:hover{
			background-color: shade($bgc-btn-1,10%);
		}
	}

	.a-pulldown__arrow{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		display: block;
		overflow: visible;
		width: 0;
		height: 0;
		pointer-events: none;
		background-color: red;
		&:after{
			content: "";
			position: absolute;
			top: 1.25em;
			right: 1.25em;
			width: 0;
			height: 0;
			border-top: 8px solid rgba(0, 0, 0, 0);
			border-top-color: rgb(0, 0, 0);
			border-right: 6px solid rgba(0, 0, 0, 0);
			border-left: 6px solid rgba(0, 0, 0, 0);
		}
	}

	.a-pulldown__select:hover+.a-pulldown__arrow:after{
		border-top-color: $white; 
	}


} // end if