$use-add-ons-form-focus:	true !default;

@if $use-add-ons-form-focus == true{
	/* ==========================================================================
   Addon - Form Elements Hover & Effect
   ========================================================================== */
   
	input, select, textarea,{
		&.a-hover-focus:hover{
			border-color: $c-form-hover;
			transition: border-color .3s ease;
		}

		&.a-hover-focus:focus {
			border-color: $c-form-hover;
			outline: none;
			box-shadow: 0 0 6px $c-form-focus;
			transition: box-shadow .3s ease;
		}
	}

}//end if