$use-add-ons-icons-fonts-githum:	true !default;

@if $use-add-ons-icons-fonts-githum == true{
	/* ==========================================================================
   Addon - Icons Eighty
   ========================================================================== */


	// font family
	[class^="\+github"], [class*=" \+github"] {
			font-family:$icon-font-family-two;
	}

.\+github-alert:before {
	content: "\f02d";
}
.\+github-alignment-align:before {
	content: "\f08a";
}
.\+github-alignment-aligned-to:before {
	content: "\f08e";
}
.\+github-alignment-unalign:before {
	content: "\f08b";
}
.\+github-arrow-down:before {
	content: "\f03f";
}
.\+github-arrow-left:before {
	content: "\f040";
}
.\+github-arrow-right:before {
	content: "\f03e";
}
.\+github-arrow-small-down:before {
	content: "\f0a0";
}
.\+github-arrow-small-left:before {
	content: "\f0a1";
}
.\+github-arrow-small-right:before {
	content: "\f071";
}
.\+github-arrow-small-up:before {
	content: "\f09f";
}
.\+github-arrow-up:before {
	content: "\f03d";
}
.\+github-beer:before {
	content: "\f069";
}
.\+github-book:before {
	content: "\f007";
}
.\+github-bookmark:before {
	content: "\f07b";
}
.\+github-briefcase:before {
	content: "\f0d3";
}
.\+github-broadcast:before {
	content: "\f048";
}
.\+github-browser:before {
	content: "\f0c5";
}
.\+github-bug:before {
	content: "\f091";
}
.\+github-calendar:before {
	content: "\f068";
}
.\+github-check:before {
	content: "\f03a";
}
.\+github-checklist:before {
	content: "\f076";
}
.\+github-chevron-down:before {
	content: "\f0a3";
}
.\+github-chevron-left:before {
	content: "\f0a4";
}
.\+github-chevron-right:before {
	content: "\f078";
}
.\+github-chevron-up:before {
	content: "\f0a2";
}
.\+github-circle-slash:before {
	content: "\f084";
}
.\+github-circuit-board:before {
	content: "\f0d6";
}
.\+github-clippy:before {
	content: "\f035";
}
.\+github-clock:before {
	content: "\f046";
}
.\+github-cloud-download:before {
	content: "\f00b";
}
.\+github-cloud-upload:before {
	content: "\f00c";
}
.\+github-code:before {
	content: "\f05f";
}
.\+github-color-mode:before {
	content: "\f065";
}
.\+github-comment:before {
	content: "\f02b";
}
.\+github-comment-discussion:before {
	content: "\f04f";
}
.\+github-credit-card:before {
	content: "\f045";
}
.\+github-dash:before {
	content: "\f0ca";
}
.\+github-dashboard:before {
	content: "\f07d";
}
.\+github-database:before {
	content: "\f096";
}
.\+github-device-camera:before {
	content: "\f056";
}
.\+github-device-camera-video:before {
	content: "\f057";
}
.\+github-device-desktop:before {
	content: "\f27c";
}
.\+github-device-mobile:before {
	content: "\f038";
}
.\+github-diff:before {
	content: "\f04d";
}
.\+github-diff-added:before {
	content: "\f06b";
}
.\+github-diff-ignored:before {
	content: "\f099";
}
.\+github-diff-modified:before {
	content: "\f06d";
}
.\+github-diff-removed:before {
	content: "\f06c";
}
.\+github-diff-renamed:before {
	content: "\f06e";
}
.\+github-ellipsis:before {
	content: "\f09a";
}
.\+github-eye:before {
	content: "\f04e";
}
.\+github-file-binary:before {
	content: "\f094";
}
.\+github-file-code:before {
	content: "\f010";
}
.\+github-file-directory:before {
	content: "\f016";
}
.\+github-file-media:before {
	content: "\f012";
}
.\+github-file-pdf:before {
	content: "\f014";
}
.\+github-file-submodule:before {
	content: "\f017";
}
.\+github-file-symlink-directory:before {
	content: "\f0b1";
}
.\+github-file-symlink-file:before {
	content: "\f0b0";
}
.\+github-file-text:before {
	content: "\f011";
}
.\+github-file-zip:before {
	content: "\f013";
}
.\+github-flame:before {
	content: "\f0d2";
}
.\+github-fold:before {
	content: "\f0cc";
}
.\+github-gear:before {
	content: "\f02f";
}
.\+github-gift:before {
	content: "\f042";
}
.\+github-gist:before {
	content: "\f00e";
}
.\+github-gist-secret:before {
	content: "\f08c";
}
.\+github-git-branch:before {
	content: "\f020";
}
.\+github-git-commit:before {
	content: "\f01f";
}
.\+github-git-compare:before {
	content: "\f0ac";
}
.\+github-git-merge:before {
	content: "\f023";
}
.\+github-git-pull-request:before {
	content: "\f009";
}
.\+github-globe:before {
	content: "\f0b6";
}
.\+github-graph:before {
	content: "\f043";
}
.\+github-heart:before {
	content: "\2665";
}
.\+github-history:before {
	content: "\f07e";
}
.\+github-home:before {
	content: "\f08d";
}
.\+github-horizontal-rule:before {
	content: "\f070";
}
.\+github-hourglass:before {
	content: "\f09e";
}
.\+github-hubot:before {
	content: "\f09d";
}
.\+github-inbox:before {
	content: "\f0cf";
}
.\+github-info:before {
	content: "\f059";
}
.\+github-issue-closed:before {
	content: "\f028";
}
.\+github-issue-opened:before {
	content: "\f026";
}
.\+github-issue-reopened:before {
	content: "\f027";
}
.\+github-jersey:before {
	content: "\f019";
}
.\+github-jump-down:before {
	content: "\f072";
}
.\+github-jump-left:before {
	content: "\f0a5";
}
.\+github-jump-right:before {
	content: "\f0a6";
}
.\+github-jump-up:before {
	content: "\f073";
}
.\+github-key:before {
	content: "\f049";
}
.\+github-keyboard:before {
	content: "\f00d";
}
.\+github-law:before {
	content: "\f0d8";
}
.\+github-light-bulb:before {
	content: "\f000";
}
.\+github-link:before {
	content: "\f05c";
}
.\+github-link-external:before {
	content: "\f07f";
}
.\+github-list-ordered:before {
	content: "\f062";
}
.\+github-list-unordered:before {
	content: "\f061";
}
.\+github-location:before {
	content: "\f060";
}
.\+github-lock:before {
	content: "\f06a";
}
.\+github-logo-github:before {
	content: "\f092";
}
.\+github-mail:before {
	content: "\f03b";
}
.\+github-mail-read:before {
	content: "\f03c";
}
.\+github-mail-reply:before {
	content: "\f051";
}
.\+github-mark-github:before {
	content: "\f00a";
}
.\+github-markdown:before {
	content: "\f0c9";
}
.\+github-megaphone:before {
	content: "\f077";
}
.\+github-mention:before {
	content: "\f0be";
}
.\+github-microscope:before {
	content: "\f089";
}
.\+github-milestone:before {
	content: "\f075";
}
.\+github-mirror:before {
	content: "\f024";
}
.\+github-mortar-board:before {
	content: "\f0d7";
}
.\+github-move-down:before {
	content: "\f0a8";
}
.\+github-move-left:before {
	content: "\f074";
}
.\+github-move-right:before {
	content: "\f0a9";
}
.\+github-move-up:before {
	content: "\f0a7";
}
.\+github-mute:before {
	content: "\f080";
}
.\+github-no-newline:before {
	content: "\f09c";
}
.\+github-octoface:before {
	content: "\f008";
}
.\+github-organization:before {
	content: "\f037";
}
.\+github-package:before {
	content: "\f0c4";
}
.\+github-paintcan:before {
	content: "\f0d1";
}
.\+github-pencil:before {
	content: "\f058";
}
.\+github-person:before {
	content: "\f018";
}
.\+github-pin:before {
	content: "\f041";
}
.\+github-playback-fast-forward:before {
	content: "\f0bd";
}
.\+github-playback-pause:before {
	content: "\f0bb";
}
.\+github-playback-play:before {
	content: "\f0bf";
}
.\+github-playback-rewind:before {
	content: "\f0bc";
}
.\+github-plug:before {
	content: "\f0d4";
}
.\+github-plus:before {
	content: "\f05d";
}
.\+github-podium:before {
	content: "\f0af";
}
.\+github-primitive-dot:before {
	content: "\f052";
}
.\+github-primitive-square:before {
	content: "\f053";
}
.\+github-pulse:before {
	content: "\f085";
}
.\+github-puzzle:before {
	content: "\f0c0";
}
.\+github-question:before {
	content: "\f02c";
}
.\+github-quote:before {
	content: "\f063";
}
.\+github-radio-tower:before {
	content: "\f030";
}
.\+github-repo:before {
	content: "\f001";
}
.\+github-repo-clone:before {
	content: "\f04c";
}
.\+github-repo-force-push:before {
	content: "\f04a";
}
.\+github-repo-forked:before {
	content: "\f002";
}
.\+github-repo-pull:before {
	content: "\f006";
}
.\+github-repo-push:before {
	content: "\f005";
}
.\+github-rocket:before {
	content: "\f033";
}
.\+github-rss:before {
	content: "\f034";
}
.\+github-ruby:before {
	content: "\f047";
}
.\+github-screen-full:before {
	content: "\f066";
}
.\+github-screen-normal:before {
	content: "\f067";
}
.\+github-search:before {
	content: "\f02e";
}
.\+github-server:before {
	content: "\f097";
}
.\+github-settings:before {
	content: "\f07c";
}
.\+github-sign-in:before {
	content: "\f036";
}
.\+github-sign-out:before {
	content: "\f032";
}
.\+github-split:before {
	content: "\f0c6";
}
.\+github-squirrel:before {
	content: "\f0b2";
}
.\+github-star:before {
	content: "\f02a";
}
.\+github-steps:before {
	content: "\f0c7";
}
.\+github-stop:before {
	content: "\f08f";
}
.\+github-sync:before {
	content: "\f087";
}
.\+github-tag:before {
	content: "\f015";
}
.\+github-telescope:before {
	content: "\f088";
}
.\+github-terminal:before {
	content: "\f0c8";
}
.\+github-three-bars:before {
	content: "\f05e";
}
.\+github-tools:before {
	content: "\f031";
}
.\+github-trashcan:before {
	content: "\f0d0";
}
.\+github-triangle-down:before {
	content: "\f05b";
}
.\+github-triangle-left:before {
	content: "\f044";
}
.\+github-triangle-right:before {
	content: "\f05a";
}
.\+github-triangle-up:before {
	content: "\f0aa";
}
.\+github-unfold:before {
	content: "\f039";
}
.\+github-unmute:before {
	content: "\f0ba";
}
.\+github-versions:before {
	content: "\f064";
}
.\+github-x:before {
	content: "\f081";
}
.\+github-zap:before {
	content: "\26a1";
}


} //end if