/* ==========================================================================
   Config - Type
   ========================================================================== */
  
  // line-height base
  $lh-base:                  1.45;
  
  // helper sizes
  $fs-base:                  em(16);
  $fs-lead:                  $fs-base * 1.125;
  $fs-half:                  $fs-base / 2;

  // huge sizes
  $fs-h1x:                   em(96);
  $fs-h2x:                   em(84);
  $fs-h3x:                   em(72);
  $fs-h4x:                   em(60);
  $fs-h5x:                   em(54);
  $fs-h6x:                   em(48);

  // heading sizes
  $fs-h1:                    em(32);
  $fs-h2:                    em(26);
  $fs-h3:                    em(22);
  $fs-h4:                    em(20);
  $fs-h5:                    em(18);
  $fs-h6:                    em(16);
 
  // small sizes
  $fs-h7:                    em(14);
  $fs-h8:                    em(12);
  $fs-h9:                    em(10);
  $fs-h10:                   em(8);
    
  // font stacks
  $georgia:                  Georgia, Cambria, "Times New Roman", Times, serif;
  $helvetica:                "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  $lucida-grande:            "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  $monospace:                "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  $verdana:                  Verdana, Geneva, sans-serif;

  // font stacks base & headings
  $ff-base:                  $helvetica;
  $ff-heading-base:          $helvetica;
  
  // web/fonts 1
  $ff-family-1:              feather;
  $ff-folder-1:              feather;
  $ff-name-1:                feather;
  
  // web/fonts 2
  $ff-family-2:              octicons;
  $ff-folder-2:              octicons;
  $ff-name-2:                octicons;
  
  // web/fonts 3
  $ff-family-3:              Source Sans Pro;
  $ff-folder-3:              SourceSansPro;
  $ff-name-3:                SourceSansPro;




