/* ==========================================================================
   Config - Type
   ========================================================================== */
  
  // global
  $base-line-height:                1.375;
  $f-base:                          em(16);
  
  // font sizes
  $f-massive:                       em(72);
  $f-huge:                          em(60);
  $f-large:                         em(48);

  $f-h1:                            em(32);
  $f-h2:                            em(26);
  $f-h3:                            em(22);
  $f-h4:                            em(20);
  $f-h5:                            em(18);
  $f-h6:                            em(16);
  
  $f-lead:                          $f-base * 1.125;
  $f-half:                          $f-base / 2;

  $f-small:                         em(14);
  $f-tiny:                          em(12);
  $f-micro:                         em(10);
  
  // font stacks
  $georgia:                         Georgia, Cambria, "Times New Roman", Times, serif;
  $helvetica:                       "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  $lucida-grande:                   "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  $monospace:                       "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  $verdana:                         Verdana, Geneva, sans-serif;
  
  // font family
  $f-base-face:                     $helvetica;
  $f-base-family:                   $helvetica;
  $f-base-heading-family:           $helvetica;

  // fonts face icons - imports
  $icon-font-family:                feather;
  $icon-name:                       feather;
  $icon-folder:                     feather;
  
  // fonts face icons - imports
  $icon-font-family-two:            octicons;
  $icon-name-two:                   octicons;
  $icon-folder-two:                 octicons;
  
  // fonts face - imports
  $type-font-family:                source-sans-pro;
  $type-name:                       source-sans-pro;
  $type-folder:                     source-sans-pro;