/* ==========================================================================
   Config - Rounded
   ========================================================================== */

	$global-round: 	3px;
	$button-round: 	3px;
	$image-round:  	3px;
	$label-round:  	3px;
	$tabs-round:  	3px;