h1(class='styleguide-title +u-font-huge') Colours Base
.styleguide-base.config
  h3 Custom Colours
  div.styleguide-colors.white
  div.styleguide-colors.yellow
  div.styleguide-colors.orange
  div.styleguide-colors.red
  div.styleguide-colors.maroon
  div.styleguide-colors.pink
  div.styleguide-colors.green
  div.styleguide-colors.aqua
  div.styleguide-colors.blue
  div.styleguide-colors.black
  div.styleguide-colors.grey
  div.styleguide-colors.light-grey
  h3 Background
  div.styleguide-colors.bgc-1
  div.styleguide-colors.bgc-2
  div.styleguide-colors.bgc-3
  h3 Buttons
  div.styleguide-colors.c-btn-1
  div.styleguide-colors.c-btn-2
  div.styleguide-colors.bgc-btn-1
  div.styleguide-colors.bgc-btn-2
  h3 Links
  div.styleguide-colors.c-link
  div.styleguide-colors.c-link-hover
  div.styleguide-colors.c-link-active
  div.styleguide-colors.c-link-visited
  h3 Notify
  div.styleguide-colors(class='+u-success')
  div.styleguide-colors(class='+u-info')
  div.styleguide-colors(class='+u-error')
  div.styleguide-colors(class='+u-warning')
  div.styleguide-colors(class='+u-danger')
  h3 Headings
  div.styleguide-colors.c-heading-1
  div.styleguide-colors.c-heading-2
  div.styleguide-colors.c-heading-3
  h3 Form
  div.styleguide-colors.c-form-1
  div.styleguide-colors.c-form-2
  div.styleguide-colors.c-form-input
  div.styleguide-colors.c-form-hover
  div.styleguide-colors.c-form-active
  div.styleguide-colors.c-form-focus
  h3 Code
  div.styleguide-colors.c-code
  div.styleguide-colors.bgc-code
  h3 Brands
  div.styleguide-colors.google
  div.styleguide-colors.facebook
  div.styleguide-colors.twitter
  div.styleguide-colors.linkedin
  div.styleguide-colors.dribble
  div.styleguide-colors.instagram
  div.styleguide-colors.googleplus
  div.styleguide-colors.behance
  div.styleguide-colors.gimmebar
  div.styleguide-colors.github
  div.styleguide-colors.tumblr
  div.styleguide-colors.youtube
  div.styleguide-colors.vine
  div.styleguide-colors.kickstarter
  div.styleguide-colors.dropbox
  div.styleguide-colors.rss
  div.styleguide-colors.facebook
  div.styleguide-colors.codepen
  div.styleguide-colors.foursquare
  div.styleguide-colors.soundcloud
  div.styleguide-colors.wordpress
  div.styleguide-colors.tumblr
  div.styleguide-colors.blogger
  div.styleguide-colors.squarespace
  div.styleguide-colors.joomla
  div.styleguide-colors.drupal
  div.styleguide-colors.typepad
  div.styleguide-colors.expression-engine
  div.styleguide-colors.kirby
  div.styleguide-colors.moveabletype
  div.styleguide-colors.disqus
  div.styleguide-colors.html