$use-global-base:	true !default;

@if $use-global-base == true{
/* ==========================================================================
   Globals - Base 
   ========================================================================== */
   

	// Base is some common styles build on top of normalize and reset.
	html {
	  overflow-y: scroll;
	  min-height: 100%;
	  word-wrap: break-word;
	  font:#{($f-base)}/#{$base-line-height} $f-base-family;
	}


	//http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	$global-border-box:	true !default;
	@if $global-border-box == true{
		html {
		  box-sizing: border-box;
		}
		*, *:before, *:after {
		  box-sizing: inherit;
		}
	}//endif


	body{
		min-height: 100%;
	  background-color: $bgc-1;
	  text-rendering: optimizeLegibility;	  
	  color: $c-type-1;
	}


	/* Links
   ========================================================================== */
	a{
		vertical-align: baseline;
		font-size: 100%;
	  transition: color 0.1s;
	  &, &:hover{
	    color: $c-link;
	    text-decoration: none;
	  }
	  &:hover {
	    color: $c-link-hover;
	  }
	  &:active {
	    transition: none;
	    color: $c-link-active;
	    text-decoration: underline;
	  }
	  &:visited{
	   	color:$c-link-visited;
	   	transition: none;
	   	text-decoration: none;
	  }
	  /* address `outline` inconsistency between Chrome and other browsers */
		&:focus {
	    outline: thin dotted;
		}
	}


	/* Sections
   ========================================================================== */

	/* global margin bottom */
	@include headings(1, 6){
		font-family: $f-base-heading-family;
		color: $c-heading-1;
	}


	/* address - default italic make normal */
 	address{
  	font-style: normal; 
  }


	/* Text-level semantics
   ========================================================================== */

	small{
		font-size: $f-small;
	}

  q{
		quotes:"\2018" "\2019" "\201C" "\201D";

		&:before{
			content:"\2018";
      content:open-quote;
    }
    &:after{
      content:"\2019";
     	content:close-quote;
    }
    q:before{
      content:"\201C";
      content:open-quote;
    }
    q:after{
      content:"\201D";
      content:close-quote;
    }
  }


  dfn[title], abbr[title]{
    cursor:help; 
  }

  sup{
    top: -$space;
  }

  sub{
    bottom: -$space-quarter;
  }


	/* Grouping content
   ========================================================================== */

	// give some base padding
	ul,ol{ 
		padding-left: $space-1-half; 
		margin-top: 0;
		margin-bottom: 0;
	}

	// give some base margin
	dd{ 
		margin-left: $space-1-half;
		margin-top: 0;
		margin-bottom: 0;
	}

	// definition term bold
	dt{ font-weight: bold; }

	pre{
    white-space: pre-wrap;
		/* use an explicit font stack to ensure browsers render correct `line-height`. inuit.css */
    mark{
    	border-bottom:1px solid;
    	background:none;
    	color:inherit;
    }
	}


	/* Embedded content
   ========================================================================== */

	img{
	  display: block;
	  vertical-align: bottom;
	  -ms-interpolation-mode: bicubic;
	}


	/* make fluid by default */
	img, video, object {
	  max-width: 100%; 
	  height: auto;
	}


	/* Forms
   ========================================================================== */

	/*Define consistent border, margin, and padding.*/
	fieldset {
   	border: 0;
   	padding: 0; /* overright normalize */
		margin: 0; /* overright normalize */
   	min-width:0; /* make width responsive minius min-width: -webkit-min-content */
	}

	legend{
		font-weight:bold;
	}

	/* give some more interactivity */
	label,
	input,
	textarea,
	button,
	select,
	option{
		cursor:pointer;
	}

	// web kit
 	// textarea, 
	// input[type="text"], 
	// input[type="password"], 
	// input[type="datetime"], 
	// input[type="datetime-local"], 
	// input[type="date"], 
	// input[type="month"], 
	// input[type="time"], 
	// input[type="week"], 
	// input[type="number"], 
	// input[type="email"], 
	// input[type="url"], 
	// input[type="search"], 
	// input[type="tel"], 
	// input[type="color"] {
	// 	-webkit-appearance: none;
	// 	-webkit-appearance: textfield;
	// }


	@if $global-border-box == true{
		input[type="search"] {
			box-sizing:border-box;
		}
	}//endif

	input[type="submit"]{
		-webkit-border-radius: 0;
	}

	button{
		line-height: normal;
    &:focus{
			outline: thin dotted;
			outline-color: rgba(0,0,0,.7);
		}
	}

	textarea {
		overflow: auto;
		vertical-align: top;
	}

	textarea:active, textarea:focus{
		cursor:text;
	}


	/* Edits
   ========================================================================== */
   
	// Apply faux underlines to inserted text via `border-bottom`.
  ins, u{
    border-bottom:1px solid;
  }

	menu{
	  display: block
	}

}//end if