$use-base-text: true !default;

@if $use-base-text == true{
/* ==========================================================================
   Base - Text
   ========================================================================== */
   

  // headings h1 - h6
  @include headings(1, 6){
    font-family: $f-base-heading-family;
    color: $c-heading-1;
  }


  // address - default italic make normal
  address{
    font-style: normal; 
  }


  // set small text to config
  small{
    font-size: $f-small;
  }


  // quotes
  q{
    quotes:"\2018" "\2019" "\201C" "\201D";

    &:before{
      content:"\2018";
      content:open-quote;
    }
    &:after{
      content:"\2019";
      content:close-quote;
    }
    q:before{
      content:"\201C";
      content:open-quote;
    }
    q:after{
      content:"\201D";
      content:close-quote;
    }
  }


  // sup and sub 
  sup{
    top: -$space;
  }

  sub{
    bottom: -$space-quarter;
  }


  // lists
  ul,ol,dd{ 
    margin-top: 0;
    margin-bottom: 0;
  }

  ul,ol{
    padding-left: $space-1-half; 
  }

  dd{ 
    margin-left: $space-1-half;
  }

  dt{ 
    font-weight: bold; 
  }


  // 
  pre{
    white-space: pre-wrap;
    mark{
      border-bottom:1px solid;
      background:none;
      color:inherit;
    }
  }


  // Apply underlines to inserted
  ins, u{
    border-bottom:1px solid;
  }

  // make menu block
  menu{
    display: block;
  }


  // extra info give on :hover
  abbr[title],
  dfn[title] {
      cursor: help;
  }

  // remove underlines from potentially troublesome elements
  u, ins {
    text-decoration: none;
  }

}//end if