/**
  GT Walsheim Web Medium
* Proprietary, licensed fonts. Do not use without license! 
* http://www.grillitype.com/information/webfonts-license
**/

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-web.eot#?iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-web.svg.html#gt_walsheim_thin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-oblique-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-oblique-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-oblique-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-thin-oblique-web.svg.html#gt_walsheim_thin_oblique') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-regular-oblique-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-regular-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-regular-oblique-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-regular-oblique-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-regular-oblique-web.svg#gt_walsheim_regular_oblique') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-web.svg#gt_walsheim_medium_oblique') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-oblique-web.eot');
    src: url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-oblique-web.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-oblique-web.woff') format('woff'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-oblique-web.ttf') format('truetype'),
         url('../fonts/fonts--gt-walsheim/gt-walsheim-medium-oblique-web.svg#gt_walsheim_medium_oblique') format('svg');
    font-weight: 500;
    font-style: italic;
}


